title Secuelas Perpetuas El juicio final, La matanza en El Frontón, Alan García, Primer gobierno de Alan García, Matanza en El Frontón, Penal El Frontón, Acusados de El Frontón, Marina de Guerra, Agustín Mantilla, Política | LaRepublica.pe
meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible",content="IE=edge")
meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(name="robots",content="index,follow")
meta(name="keywords",content="Alan García, Primer gobierno de Alan García, Matanza en El Frontón, Penal El Frontón, Acusados de El Frontón, Marina de Guerra, Agustín Mantilla, Política")
meta(name="description",content='El juicio final es un especial que identifica a los 35 ex marinos acusados de homicidio calificado contra 133 reos durante el debelamiento del motín en el penal El Frontón, ocurrido en junio de 1986 durante el gobierno de Alan García Pérez')
meta(property="og:description",content='El juicio final es un especial que identifica a los 35 ex marinos acusados de homicidio calificado contra 133 reos durante el debelamiento del motín en el penal El Frontón, ocurrido en junio de 1986 durante el gobierno de Alan García Pérez')
meta(property="fb:app_id",content="489210501129201")
meta(property="og:site_name",content="LaRepublica.pe")
meta(property="og:type",content="website")
meta(property="og:url",content="http://larepublica.pe/data/matanza-en-el-fronton/")
meta(property="og:title",content="El juicio final| La matanza en El Frontón | LaRepublica.pe")
meta(property="og:image",content="http://larepublica.pe/data/matanza-en-el-fronton/images/foto_portada.jpg")
meta(name="twitter:card",content="summary")
meta(name="twitter:site",content="@larepublica_pe")
meta(name="twitter:url",content="http://larepublica.pe/data/matanza-en-el-fronton")
meta(name="twitter:image",content="http://larepublica.pe/data/matanza-en-el-fronton/images/foto_portada.jpg")
meta(name="twitter:title",content="El juicio final | La matanza en El Frontón | LaRepublica.pe")
meta(name="twitter:description",content='El juicio final es un especial que identifica a los 35 ex marinos acusados de homicidio calificado contra 133 reos durante el debelamiento del motín en el penal El Frontón, ocurrido en junio de 1986 durante el gobierno de Alan García Pérez')
meta(name="twitter:width",content="150")
meta(name="twitter:height",content="120")
meta(itemprop="name",content="El juicio final | La matanza en El Frontón | LaRepublica.pe")
meta(itemprop="description",content='El juicio final es un especial que identifica a los 35 ex marinos acusados de homicidio calificado contra 133 reos durante el debelamiento del motín en el penal El Frontón, ocurrido en junio de 1986 durante el gobierno de Alan García Pérez')
meta(name="MobileOptimized",content="width")
meta(name="HandheldFriendly",content="true")

link(rel="canonical",href="http://larepublica.pe/data/matanza-en-el-fronton/")
link(rel="stylesheet",type="text/css",href="css/main.css")

link(href="http://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css",rel="stylesheet")
link(rel="shortcut icon",href="http://larepublica.pe/favicon.ico")
script(type='text/javascript' src='js/jquery-2.2.4.min.js')
//script(src='http://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
script(src='http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js')

<!--(icono)-->
link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css",rel="stylesheet")

<!--(carousel)-->
//link(href='http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
script(src='http://code.jquery.com/jquery-1.11.1.min.js')
//script(src='http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
