title Secuelas Perpetuas | Esterilizaciones forzadas | ligaduras de trompas | Mujeres shipibas y quechuas | víctimas shipibas | mujeres esterilizadas | Gobierno fujimorista | casos de mujeres esterilizadas | LaRepublica.pe
meta(charset="UTF-8")
meta(name="description",content='Secuelas perpetuas es un especial que relata desgarradoras historias de Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas, durante el segundo gobierno fujimorista.')
meta(http-equiv="X-UA-Compatible",content="IE=edge")
meta(name="viewport",content="width=device-width, initial-scale=1.0, user-scalable=no")
meta(name="robots",content="index,follow")
meta(name="keywords",content="Alan García, Primer gobierno de Alan García, Matanza en El Frontón, Penal El Frontón, Acusados de El Frontón, Marina de Guerra, Agustín Mantilla, Política")


meta(property="og:description",content='Secuelas perpetuas es un especial que relata desgarradoras historias de Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas, durante el segundo gobierno fujimorista.')
<!--(???)-->
meta(property="fb:app_id",content="489210501129201")
meta(property="og:site_name",content="LaRepublica.pe")
meta(property="og:type",content="website")
meta(property="og:url",content="http://larepublica.pe/data/secuelas-perpetuas/")
meta(property="og:title",content="Secuelas Perpetuas | Esterilizaciones forzadas | LaRepublica.pe")
meta(property="og:image",content="http://larepublica.pe/data/secuelas-perpetuas/images/foto_portada.jpg")
<!--(falta video promocional)-->
meta(property="og:video",content="https://www.youtube.com/watch?v=sIpyIunOVJ4&feature=em-share_video_user")
	
<!-- Twitter Card data -->
meta(name="twitter:card",content="summary")
meta(name="twitter:site",content="@larepublica_pe")
meta(name="twitter:url",content="http://larepublica.pe/data/secuelas-perpetuas/")
meta(name="twitter:image",content="http://larepublica.pe/data/secuelas-perpetuas/images/foto_portada.jpg")
meta(name="twitter:title",content="Secuelas Perpetuas | Esterilizaciones forzadas | LaRepublica.pe")
meta(name="twitter:description",content='Secuelas perpetuas es un especial que relata desgarradoras historias de Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas, durante el segundo gobierno fujimorista.')
meta(name="twitter:width",content="150")
meta(name="twitter:height",content="120")
meta(itemprop="name",content="Secuelas Perpetuas | Secuelas Perpetuas | LaRepublica.pe")
meta(itemprop="description",content='Secuelas perpetuas es un especial que relata desgarradoras historias de Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas, durante el segundo gobierno fujimorista.')
meta(name="MobileOptimized",content="width")
meta(name="HandheldFriendly",content="true")

link(rel="canonical",href="http://larepublica.pe/data/secuelas-perpetuas/")

script.
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
		ga('create', 'UA-6536106-1', 'auto');
		ga('send', 'pageview');


link(rel="stylesheet",type="text/css",href="css/main.css")

link(href="http://maxcdn.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css",rel="stylesheet")
link(rel="shortcut icon",href="http://larepublica.pe/favicon.ico")
script(type='text/javascript' src='js/jquery-2.2.4.min.js')
//script(src='http://code.jquery.com/jquery-2.2.4.min.js', integrity='sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=', crossorigin='anonymous')
script(src='http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js')

<!--(icono)-->
link(href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css",rel="stylesheet")

<!--(carousel)-->
//link(href='http://netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
script(src='http://code.jquery.com/jquery-1.11.1.min.js')
//script(src='http://netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js')
