section.button-form
	div.container.sub-button
		img.banner-firma(src="images/banner-firma.jpg")
		img.banner-firma-responsive(src="images/banner-firma-responsive.jpg")
		div.cont-button
			a( href="http://formularios.larepublica.pe/formulario/formulario-esterilizaciones-forzadas" target="_blank")
				button( class="button-three") Firma Aquí

section.cuadro-jalador
				.container
					.row
						.col-lg-4.col-md-4
							a(href='shipibas.html')
								h4 CASOS UCAYALI
								img(src="images/grupal-ucayali.jpg" class="thumbnail")
						.col-lg-4.col-md-4
							a(href='cusco.html')
								h4 CASOS CUSCO
								img(src="images/grupal-cusco.jpg" class="thumbnail")
						.col-lg-4.col-md-4
							a(href='investigaciones.html')
								h4 MAS INVESTIGACIONES

								img(src="images/medicos-Noticia-711276.jpg" class="thumbnail")
