section.cuadro-jalador
				.container
					h2 Aquí la Investigación
					.row
						a.col-lg-4.col-md-4(href='shipibas.html')
							h3 UCAYALI
							img(src="images/grupal-ucayali.jpg")
						a.col-lg-4.col-md-4(href='cusco.html')
							h3 CUSCO
							img(src="images/grupal-cusco.jpg")
						a.col-lg-4.col-md-4(href='investigaciones.html')
							h3 ARCHIVO
							img(src="images/medicos-Noticia-711276.jpg")
