section.cuadro-jalador
				.container
					.row
						a.col-lg-4.col-md-4(href='shipibas.html')
							h3 CASOS UCAYALI
							img(src="images/grupal-ucayali.jpg")
						a.col-lg-4.col-md-4(href='cusco.html')
							h3 CASOS CUSCO
							img(src="images/grupal-cusco.jpg")
						a.col-lg-4.col-md-4(href='investigaciones.html')
							h3 INVESTIGACIONES
							img(src="images/medicos-Noticia-711276.jpg")
