section.cuadro-jalador
				.container
					.row
						.col-lg-4.col-md-4
							h3 CASOS UCAYALI
							a(href='shipibas.html')
								img(src="images/grupal-ucayali.jpg")
						.col-lg-4.col-md-4
							h3 CASOS CUSCO
							a(href='cusco.html')
								img(src="images/grupal-cusco.jpg")
						.col-lg-4.col-md-4
							h3 MAS INVESTIGACIONES
							a(href='investigaciones.html')
								img(src="images/medicos-Noticia-711276.jpg")
