nav.menu-color.navbar.navbar-default
        .container-fluid
          .menu-md
            .col-xs-3
              .navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                  span.sr-only
                  span.icon-bar
                  span.icon-bar
                  span.icon-bar
                a.navbar-brand.all-center(href='index.html')
                  img(src='images/logo-reponsive.png', width='250', alt='')
            .col-xs-6.center
              .navbar-collapse
                ul.nav.navbar-nav
                  li
                    a(href='shipibas.html') CASOS UCAYALI
                  li
                    a(href='cusco.html') CASOS CUSCO
                  li
                    a.arch(href='investigaciones.html') MAS INVESTIGACIONES
            .col-xs-3
              .nav.navbar-nav.navbar-right
                li
                  a(target="_blank" href='http://larepublica.pe/')
                    img(class="img-responsive" src='images/logo_lr.png', width='250', alt='')
          .menu-xs
            .navbar-header
              button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
                span.sr-only
                span.icon-bar
                span.icon-bar
                span.icon-bar
              a.navbar-brand.all-center(href='index.html')
                img(src='images/logo-reponsive.png', width='250', alt='')
          
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              ul.nav.navbar-nav
                li
                  a(href='shipibas.html') CASOS UCAYALI
                li
                  a(href='cusco.html') CASOS CUSCO
                li
                  a(href='investigaciones.html') MAS INVESTIGACIONES

              ul.nav.navbar-nav.navbar-right
                li
                  a(target="_blank" href='http://larepublica.pe/')
                    img(class="img-responsive" src='images/logo_lr.png', width='250', alt='')