header.container
	.logo
		a(href='index.html')
			img(src="images/logo-reponsive.png" width="280" alt="")
	nav
		a(href='shipibas.html') UCAYALI

		a(href='cusco.html') CUSCO
	
		a(href='investigaciones.html') COLECCIONES
	
	.redes
		a(href="http://larepublica.pe/",alt="la_republica")
				img(class="imgresponsive",src="images/logo_lr.png")