@import "./vendor/bootstrap.scss";
@import "./helpers/variables.scss";
@import "./base/comun.scss";
@import "./base/menu.scss";
@import "./views/archivos.scss";
@import "./views/cusco.scss";
@import "./views/home.scss";
@import "./views/shipibas.scss";
@import "./helpers/mixins.scss";
@import "./helpers/utilities.scss";
