

.fixed-header {
  position: fixed;
  top:0; left:0;
  width: 100%; 
}
/////////////////**//
.txt-his{
	font-size: 17px;
}
p {
	
  b{
    font-weight: 900;
  }
  a {
    font-weight: 900;
    color: #000000;
    text-decoration: underline;
    :hover{
      color: #000000;
    }
    :focus{
      color: #000000;
    }
  }
}

/*.box {
	position: realtive;
	.hero-overlay2 {
		background: rgba(88, 38, 2, 0.48);
		transition: background .5s ease 0s,color .5s ease 0s;
		position: absolute;
	    top: 0;
	    left: 0;
	    right: 0;
	    bottom: 0;
	    display: flex;
    	justify-content: center;
    	align-items: center;
	}
}
.box .hero-overlay2:hover {
	background: rgba(255, 255, 255, 0);
	transition: background .5s ease 0s,color .5s ease 0s;
}
.cont {
	padding:1% 2%;
	position:absolute;
	bottom: 0;
	color: white;
	/*.btn{
		background-color: $verde;
	    color: white;
	    padding: 0.5% 2%;
	    font-size: 2rem;
	    font-family: $Cabin-sans;
	}
	.icon-youtube-play {
		margin-right: 8px;
    	text-decoration: none;
    	float: left;
   		padding-top: 5px;
	}
	p {
		font-size: 2rem;
		margin: 0;
		text-shadow: 2px 2px 1px #000;
	}
}*/
.testimonios{
	a {
		color: white;
		img {
			width: 100%;
			/*height: 100%;*/
		}
	}
}
/**/
.caption {
	height: 118px;
}

@media screen and (max-width: 700px) {
	.cont {
	p {
		font-size: 1.5rem;
	}
}
 }

.fa{position: absolute;
    top: 24%;
    left: 44%;
    /* right: 20%; */
    /* bottom: 90%; */
}

 /*casos*/

.casos-shipibas{
	margin-bottom: 2%;
	h2 {
		font-weight: 700;
		margin: 3% 0 2%;
	}
}
#botones {
	input {
		background-color: $guinda;
	    border: none;
	    padding: 1% 2%;
	    color: white;
		}
	input:hover{
		 background-color: rgb(160, 97, 109);
	}
}
/*fichas*/
.fichat {
	ul {
		list-style: none;
		font-size: 13px;
	}
}

#capa {
	line-height: 24px;
	font-size: 1.7rem;
}
.colum {
	padding: 3% 3%;
	background-color: #eee;
	img:hover {
		opacity: 0.5;
		transition: background .5s ease 0s,color .5s ease 0s;
	}
	p {
		font-size: 1.7rem;
		color: $guinda;
	}
}

.caption-casos {
    height: 299px;
}

//slider cusco//

.sub-text {
	margin-top: 5%;
	font-size: 16px;
}
 .hide-bullets {
list-style:none;
margin-left: -40px;
margin-top:20px;
}

@media screen and (max-width: 700px) {
	.info {
		display: none;
	}
	.display-responsive {
		display: none;
	}
}

@media screen and (max-width: 1600px) {
	.cont p {
	    font-size: 18px;
	}
}

@media screen and (max-width: 1400px){
	.cont p {
	    font-size: 15px;
		}
}



/* carousel */
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
  left: -12px;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 29px
}
/* Next button  */
.media-carousel .carousel-control.right 
{
  right: -12px !important;
  background-image: none;
  background: none repeat scroll 0 0 #222222;
  border: 4px solid #FFFFFF;
  border-radius: 23px 23px 23px 23px;
  height: 40px;
  width : 40px;
  margin-top: 29px
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: 0px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #c0c0c0;
}
.media-carousel .carousel-indicators .active 
{
  background: #333333;
}
/*.media-carousel img
{
  width: 250px;
  height: 100px
}*/
/* End carousel */



















/*cuadro jalador*/
.cuadro-jalador {
    background-color: white;
	padding-bottom: 5%;
	img {
		width: 100%;
	}
}
/*footer*/

footer {
	padding: 2% 0;
	background:#9b3604;
	color: white;
	text-align: left;
	.img-foot-lr {
		display: block;
    	margin: auto;
	}
	.separador_footer{
		width: 303px;
		margin: 7px auto;
		border-top: 1px solid #eee;
	}
}
.logofooter {
    text-align: center;
    padding-top: 40px;
}
.creditos {
	h4 {
		font-size: 14px;
	}
	p {
		font-size: 12px;
	}
}

.fichat {
	border: 1px solid #ddd;
    border-radius: 4px;
    padding-top: 9px;
}