.la-republica {
    background-color: #013f6d;
    background-color: #004158;
    padding: 0.5%;
    a{
    	text-align: center;
    }
}

.fixed-header {
  position: fixed;
  top:0; left:0;
  width: 100%; 
}
/*cuadro jalador*/
.cuadro-jalador {
    background-color: white;
	padding-bottom: 5%;
	img {
		width: 100%;
	}
}
/*footer*/

footer {
	padding: 2% 0;
	background:#004158;
	color: white;
	text-align: left;
	.img-foot-lr {
		display: block;
    	margin: auto;
	}
	.separador_footer{
		width: 303px;
		margin: 7px auto;
		border-top: 1px solid #eee;
	}
}
.logofooter {
    text-align: center;
}
.creditos {
	h4 {
		font-size: 14px;
	}
	p {
		font-size: 12px;
	}
}
