/*menu*/
/*.menu {
    
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0.5%;
    top: 0;
    z-index: 1;
    width: 100%;
    	.container:before, 
	.container:after {
		content: initial;
	}
}
.menu-scroll {
	position: fixed;
}
.menu-home {
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  position: fixed;
}
.menu-color {
  background-color: #9b3604;
  background-image: none;
}
a:hover, a:focus {
    color: #757574;
    text-decoration: none;
}

header {
	padding: 1%;
   
   	display: flex;
   	justify-content:space-between;
   	align-items:center;
   	flex-direction:row; 
   	flex-wrap:wrap;

}

header nav {
	width: 50%;
	
   	display: flex;
   	flex-wrap:wrap;
   	align-items:center;

}

header nav a {
	letter-spacing: 4px;
    color: white;
    font-weight: 600;
    font-size: 1.9rem;
	font-family: 'Cabin', sans-serif;

	text-align:center;
	text-decoration: none;
	padding: 2%;
	   
   	flex-grow:1;

}

nav {
    background-color: rgba(255, 255, 255, 0);
}
.z-depth-1, nav, .card-panel, .card, .toast, .btn, .btn-large, .btn-floating, .dropdown-content, .collapsible, .side-nav {
    box-shadow:none;
}
*/

/*menu*/
/**/

.navbar-default {
    margin: 0;
    border-radius: 0;
    /*position: fixed;*/
    width: 100%;
    z-index: 10000;
    border: 0px;
    background-color: transparent;
}
.navbar-nav {
    /*padding-left: 9%;*/
    padding-top: 20px;
}
.navbar-brand-none{
  visibility: collapse;
}
.navbar-brand {
  visibility: inherit;
}

.navbar-default .navbar-nav>li>a {
    letter-spacing: 4px;
    color: #fff;
    font-weight: 600;
    font-size: 1.9rem;
    font-family: 'Cabin', sans-serif;
    text-align: center;
    text-decoration: none;
    /* padding: 2%; */
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.navbar-default .navbar-nav>li>a.arch {
    color: #e8a396;
}
.navbar-default .navbar-nav>li>a.arch:hover {
    color: #fff;
}
.navbar-default .navbar-nav{
    li {
      a:hover  {
      color: #e8a396;
      background-color: transparent;        
      }
      a:focus {
       color: #e8a396;
      }
      a:active {
       color: #e8a396;
      }
    }
  } 
  .navbar-default .navbar-nav li a:active {
    color: #e8a396;
}
.menu-home {
  background-image: -webkit-linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 100%);
  position: fixed;
}
.menu-color {
  background-color: #9b3604;
  background-image: none;
  position: fixed;
}
.nav > li > a > img {
    max-width: 188;
}
@media screen and (max-width: 500px) {
  .menu-home {
    background-color: #9b3604;
    background-image: none;
  }
  .navbar-brand > img {
    width: 200px;
  }
}
@media screen and (min-width: 940px) {
  .menu-xs {
    display: none;
  }

}
@media screen and (max-width: 940px) {
  .menu-md {
    display: none;
  }
  
}