                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
html
	head
		title Secuelas Perpetuas | Testimonios desde Cusco | Esterilizaciones Forzadas | ligaduras de trompas | Mujeres shipibas y quechuas | víctimas shipibas | casos mujeres esterilizadas | Gobierno fujimorista | LaRepublica.pe

		meta(property="og:description",content='Las víctimas (o sus esposos) fueron forzadas a firmar una autorización para ligarse bajo amenazas y hostigamiento. Otras veces aprovechándose de que no sabían leer.')
		meta(property="og:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/cusco")
		meta(property="og:title",content="#SecuelasPerpetuas Mujeres cusqueñas fueron amenazas para firmar una autorización para ligarse. #EsterilizacionesForzadas")
		meta(property="og:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/grupal-cusco.jpg")
		
		meta(name="twitter:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/cusco")
		meta(name="twitter:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/grupal-cusco.jpg")
		meta(name="twitter:title",content="#SecuelasPerpetuas Mujeres cusqueñas fueron amenazas para firmar una autorización para ligarse. #EsterilizacionesForzadas")
		meta(name="twitter:description",content='Las víctimas (o sus esposos) fueron forzadas a firmar una autorización para ligarse bajo amenazas y hostigamiento. Otras veces aprovechándose de que no sabían leer.')

		include base/head.pug
	    		
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		#main
			.menu
				include base/menu.pug
			section.container.intro-shipibas
				.row
					.col-lg-9.col-md-6.col-sm-6.col-xs-12
						h2 Testimonios desde Cusco
					.col-lg-3.col-md-6.col-sm-6.col-xs-12
						.btn-redes
							.share-buttons-square
								span.fb
									.fb-share-button(data-href='http://larepublica.pe/data/esterilizaciones-forzadas/cusco', data-layout='button', data-mobile-iframe='true')
										a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse') Compartir 
								span.twiter
									a.twitter-share-button(href='https://twitter.com/share', data-text='Secuelas Perpetuas | Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas', data-via='larepublica_pe', data-size='default', data-hashtags='EsterilizacionesForzadas')
									script.
										!function(d, s, id) {
										var js,
										fjs = d.getElementsByTagName(s)[0],
										p = /^http:/.test(d.location)
										? 'http'
										: 'https';
										if (!d.getElementById(id)) {
										js = d.createElement(s);
										js.id = id;
										js.src = p + '://platform.twitter.com/widgets.js';
										fjs.parentNode.insertBefore(js, fjs);
										}
										}(document, 'script', 'twitter-wjs');

				.row
					.col-lg-12.txt-intro-shipibas
						p
							a(target="_blank",href='http://larepublica.pe/impresa/politica/717547-dos-policias-me-llevaron-de-los-brazos-como-ladrona-para-esterilizarme') Mujeres cusqueñas
							|   fueron esterilizadas contra su voluntad en las postas de sus comunidades, así como en los más grandes hospitales de la ciudad. 
							b Varias fueron forzadas a firmar una autorización para ligarse bajo amenazas o engaños. 
						p
							| Las víctimas son de los distritos de Huancarani, a dos horas de la ciudad de Cusco; de Colquepata, a cinco horas; y de Mahuaypampa, ubicado en el valle de Urubamba.



			section.container.testimonios
				.row.a
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.box
						a.thumbnail(href='martinacamala.html')
							i(class="fa fa-play-circle-o fa-5x",aria-hidden="true")
							img(src="images/martinacamala.jpg")
							.caption
								h4 Martina Camala Quispe 
								p.info “Me dijeron que si no me ligaban me meterían a la cárcel”
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.box
						a.thumbnail(href='ernestinamamani.html')
							i(class="fa fa-play-circle-o fa-5x",aria-hidden="true")
							img(src="images/ernestinamamani.jpg")
							.caption
								h4 Ernestina Mamani Quispe
								p.info “Me obligaron a firmar un papel y yo no sabía leer” 
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.box
						a.thumbnail(href='damianahuallpayunca.html')
							i(class="fa fa-play-circle-o fa-5x",aria-hidden="true")
							img(src="images/damianahuallpayunca.jpg")
							.caption
								h4 Damiana Huallpayunca
								p.info “A mi esposo lo obligaron a firmar para que me liguen” 

				.row.a
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.box
						a.thumbnail(href='victoriaccoya.html')
							i(class="fa fa-play-circle-o fa-5x",aria-hidden="true")
							img(src="images/victoriaccoya.jpg")
							.caption
								h4 Victoria Ccoya Quispe
								p.info “Me ligaron porque el Gobierno ha ordenado no tener más de tres hijos”								
 
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.box
						a.thumbnail(href='maximilianaquillhuaman.html')
							i(class="fa fa-play-circle-o fa-5x",aria-hidden="true")
							img(src="images/maximilianaquillhuaman.jpg")
							.caption
								h4 Maximiliana Quillahuaman Quispe  
								p.info “A los 25 años me hicieron esto”
					.col-lg-4.col-md-4.col-sm-4.col-xs-12.box
						a.thumbnail(href='ninamamani.html')
							i(class="fa fa-play-circle-o fa-5x",aria-hidden="true")
							img(src="images/ninamamani.jpg")
							.caption
								h4 Benedicta Nina Mamani 
								p.info “No me explicaron por qué me cortaron” 




			.container.album-fotos.mt-4
				h2 Más testimonios
				br
				#main_area
					// Slider
					.row
						#slider.col-xs-12
							// Top part of the slider
							.row
								#carousel-bounding-box.mb-12.col-lg-7.col-md-7.col-sm-12.col-xs-12
									#myCarousel.carousel.slide
										// Carousel items
										.carousel-inner
											.active.item(data-slide-number='0')
												img(src='images/album-cusco/margarita-puma.jpg')
											.item(data-slide-number='1')
												img(src='images/album-cusco/lorenza-ylla.jpg')
											.item(data-slide-number='2')
												img(src='images/album-cusco/susana-quispe.jpg')
											.item(data-slide-number='3')
												img(src='images/album-cusco/florentina-thupa.jpg')
											.item(data-slide-number='4')
												img(src='images/album-cusco/nelly-quispe.jpg')
											.item(data-slide-number='5')
												img(src='images/album-cusco/valentina-huisa.jpg')
											.item(data-slide-number='6')
												img(src='images/album-cusco/felipa-mamani.jpg')
											.item(data-slide-number='7')
												img(src='images/album-cusco/juliana-yapo.jpg')
											.item(data-slide-number='8')
												img(src='images/album-cusco/nicasia-quispe.jpg')
											.item(data-slide-number='9')
												img(src='images/album-cusco/benita-huaranca.jpg')
											.item(data-slide-number='10')
												img(src='images/album-cusco/rudeisnda-quillahuaman.jpg')
											.item(data-slide-number='11')
												img(src='images/album-cusco/luisa-mejia.jpg')
											.item(data-slide-number='12')
												img(src='images/album-cusco/pascuala-taboada.jpg')
											.item(data-slide-number='13')
												img(src='images/album-cusco/natividad-cueva.jpg')
											.item(data-slide-number='14')
												img(src='images/album-cusco/serafina-ylla.jpg')

										// Carousel nav
										a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
											span.glyphicon.glyphicon-chevron-left
										a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
											span.glyphicon.glyphicon-chevron-right
								#carousel-text.col-lg-5.col-md-5.col-sm-12.col-xs-12
								#slide-content(style='display: none;')
									#slide-content-0
										h3 Margarita Puma Tupa
										ul(style="list-style-type: circle") 
											li Nivel de instrucción: iletrado/ sin instrucción. 
											li Esterilizada con engaños en el Centro de Salud de Paucartambo (Distrito Paucartambo, provincia Paucartambo- Cusco) 
											li Fecha del hecho: 1996
											li Edad de la ligadura: 42
										p.sub-text
											|“En noviembre de 1996 fui a la posta de Colquepata porque me dolía la barriga. 
											b Los enfermeros Hernán y Alicia
											| me dijeron que en el centro de salud de Paucartambo curarían mi dolor…
											b Me llevaron en ambulancia, me encerraron y me ligaron”.
											
									#slide-content-1
										h3 Lorenza illa Yanqui
										ul(style="list-style-type: circle") 
											li Nivel de instrucción: iletrado/sin instrucción. 
											li Esterilizada con amenazas en el Centro de Salud de Paucartambo (Distrito Paucartambo, provincia Paucartambo - Cusco) 
											li Fecha del hecho:  1996
											li Edad de la ligadura: 33 
										p.sub-text
											b “Los enfermeros de la posta de Colquepata, Alicia y Hernán, 
											| me dijeron que 
											b tenía que ligarme o mi esposo iría a la cárcel…
											|Me llevaron al centro de salud de Paucartambo...Sino me ligaron en la posta de Colquepata fue porque en ese momento no había programación de ligaduras". 
											
									#slide-content-2
										h3 Susana Quispe Huamán
										ul(style="list-style-type: circle") 
											li Nivel de instrucción: iletrado/sin instrucción.
											li Esterilizada con violencia y amenazas en la posta de Colquepata (Distrito Colquepata, provincia Paucartambo - Cusco) 
											li Fecha del hecho: 1996
											li  Edad de la ligadura: 34 
										p.sub-text
											| “Los enfermeros Alicia y Hernán fueron a mi casa y me llevaron a la fuerza…En la posta 
											b le dije a los doctores que al menos me sacaran la T de cobre de mi vagina...A siete ligaron junto conmigo ese día. 
											| Pensé que la señora Florentina Thupa se había muerto, no reaccionaba luego de la ligadura". 
											
									#slide-content-3
										h3 Florentina Thupa Suna
										ul(style="list-style-type: circle") 
											li Nivel de instrucción: cuarto de primaria. 
											li Esterilizada con amenazas en la posta de Colquepata (Distrito Colquepata, provincia Paucartambo - Cusco) 
											li Fecha del hecho: 1996
											li Edad de la ligadura: 32 

										p.sub-text
											|“En la posta me obligaron a ligarme, la enfermera Alicia me dijo que sino ese mismo día íbamos presos yo o mi esposo…Yo he demorado bastante en reaccionar, me ligaron a las nueve y desperté a las cinco. 
											b Varias señoras que las ligaron ese día conmigo pensaron que me había muerto”. 
											
									#slide-content-4
										h3 Nelly Quispe Huisa 
										ul(style="list-style-type: circle") 
											li Nivel de instrucción: primaria completa. 
											li Esterilizada con engaños en la posta de Colquepata (Distrito Colquepata, provincia Paucartambo - Cusco) 
											li Fecha del hecho: 1996
											li Edad de la ligadura: 26 
										p.sub-text
											| “Las enfermeras Alicia y Patricia 
											b me dijeron que iban a sacarme la T de cobre de mi vagina para que no me haga daño, pero los doctores me han ligado… 
											| ¿Dónde estarán esas enfermeras ahora?, se acabó la campaña y desaparecieron”.  
											
									#slide-content-5
										h3 Valentina Huisa Condori
										ul(style="list-style-type: circle") 
											li Nivel de instrucción: iletrado/ sin instrucción. 
											li Esterilizada con engaños y violencia en la posta de Colquepata (Distrito Colquepata, provincia Paucartambo - Cusco) 
											li Fecha del hecho:  1996
											li Edad de la ligadura: 32 
										p.sub-text
											| “Una enfermera 
											b me dijo que firme un papel, yo no entendía que decía ese papel,
											| pensé que era para atender a mi bebé que lo había llevado para su control...Me dijeron que 
											b sino me dejaba ligar iría a la cárcel...
											|Traté de escapar, pero no me dejaron”.
											
									#slide-content-6
										h3 Felipa Mamani Soria 
										ul(style="list-style-type: circle") 
											li Nivel de instrucción: segundo de secundaria.
											li Esterilizada con amenazas y violencia en la posta de Colquepata (Distrito Colquepata, provincia Paucartambo - Cusco) 
											li Fecha del hecho:  1997
											li Edad de la ligadura: 39 
										p.sub-text
											|“Las enfermeras nos decían que el presidente Fujimori ha ordenado que todas nos liguemos, y que si no lo hacíamos 
											b pagaríamos cien soles por cada hijo que tuviéramos…En la posta queríamos escaparnos pero la policía nos atrapó”.
											
									#slide-content-7
										h3 Juliana Yapo Flores 
										ul(style="list-style-type: circle") 
											li Nivel de instrucción: iletrado/sin instrucción.
											li Esterilizada con amenazas y violencia en la posta de Colquepata. (Distrito Colquepata, provincia Paucartambo - Cusco) 
											li Fecha del hecho:  1996
											li Edad de la ligadura: 31 
										p.sub-text
											|“Los enfermeros fueron con la policía a mi comunidad en Sipascancha. Me subieron a una ambulancia...
											b Algunas señoras se escapaban de la posta hasta sin ropa, solo con la bata que nos daban. 
											| Otras nos quedábamos por miedo... Recuerdo a la enfermera Alicia, era gordita, alta, pelo corto, mal nos trataba”.
											
									#slide-content-8
										h3 Nicasia Quispe Quispe 
										ul(style="list-style-type: circle") 
											li Nivel de Instrucción: iletrado/sin instrucción.
											li Esterilizada con hostigamiento y violencia en el Hospital Regional del Cusco (Ciudad de Cusco - Cusco) 
											li Fecha del hecho: 1996
											li Edad de la ligadura: 28 
										p.sub-text
											|“Me insistían para que me ligue, me hicieron firmar un papel que no entendía. 
											b Me mandaron de la posta de Colquepata al Hospital Regional de Cusco 
											|con el carro de la municipalidad, junto con tres señoras…En la camilla me amarraron con una correa los pies y las manos, 
											b se oían gritos de mujeres". 
											
									#slide-content-9
										h3 Benita Huarancca Quispe 
										ul(style="list-style-type: circle") 
											li Nivel de instrucción: iletrado/sin instrucción.
											li Esterilizada con hostigamiento y a la fuerza en el Hospital Regional del Cusco. (Ciudad de Cusco- Cusco)
											li Fecha del hecho:  1996
											li Edad de la ligadura: 31 
										p.sub-text
											|“Me llevaron a la fuerza al centro de salud de Huancarani, y de ahí al Hospital Regional de Cusco. 
											b Yo quería escaparme, pero era primera vez que estaba en un hospital, me perdía…
											|Luego de ligarme me dieron un papel y me dijeron que con eso fuera al centro de salud si me sentía mal. Yo no sé leer”.


											
									#slide-content-10
										h3 Rudesinda Quillahuamán Almanza
										ul(style="list-style-type: circle") 
											li Nivel de instrucción: iletrado/sin instrucción. 
											li Esterilizada con amenazas y violencia en el Centro de Salud de Anta. (Distrito Anta, provincia Anta - Cusco) 
											li Fecha del hecho:  1996
											li Edad de la ligadura: 24 
										p.sub-text
											|“Me asusté cuando dijeron que la policía nos iba a llevar sino me ligaban. 
											b A mi esposo lo han hecho firmar un papel con esas amenazas…Como si fuera un trapo me han botado encima de la cama, 
											| me amarraron las manos”.
											
									#slide-content-11
										h3 Luisa Mejía Victoria 
										ul(style="list-style-type: circle")  
											li Nivel de instrucción: iletrado/ sin instrucción.
											li Esterilizada con engaños en el Centro de Salud de Anta. (Distrito Anta, provincia Anta - Cusco) 
											li Fecha del hecho:  1995
											li Edad de la ligadura: 36 
										p.sub-text
											b “Me dijeron que firmara un papel. Les dije que no sabía leer ni escribir, que solo se firmar mi nombre pero mal…
											| Yo no tengo ninguna educación. A cinco señoras de Chinchaypujio que no sabemos leer ni escribir, ese día nos han ligado". 
											
									#slide-content-12
										h3 Pascuala Taboada Sotelo  
										ul(style="list-style-type: circle") 
											li Nivel de instrucción: primaria completa. 
											li Esterilizada con engaños y amenazas la posta de Mollepata. (Distrito Mollepata, provincia Anta - Cusco)
											li Fecha del hecho: 1997
											li Edad de la ligadura: 36 
										p.sub-text
											|“A mí y a la vecina Jacinta Cáceres nos dijeron que era último día en la posta para recoger sémola... Los doctores no eran de la posta, el que me ligó era un blancon...
											b Los enfermeros decían que habían llegado buenos doctores para nosotras, que no entendían por qué nos quejábamos”. 

											
									#slide-content-13
										h3 Natividad Cueva Núñez  
										ul(style="list-style-type: circle") 
											li Nivel de instrucción: cuarto de primaria.
											li Esterilizada con hostigamiento y a la fuerza en el MINSA de Urubamba. (Distrito Urubamba, provincia Urubamba - Cusco) 
											li Fecha del hecho:  1997
											li Edad de la ligadura:  33 
										p.sub-text
											b “La enfermera Blanca de la posta de Maras ya había ido como cuatro veces a mi casa a exigirme que me ligara, 
											| la última vez fue con ambulancia… A la fuerza me han llevado a la posta de Maras, luego al MINSA de Urubamba. Siempre les dije que no, que no”. 

											
									#slide-content-14
										h3 Serafina Ylla Quispe  
										ul(style="list-style-type: circle") 
											li Nivel de instrucción: secundaria completa. 
											li Esterilizada con engaños y con violencia en el Hospital Antonio Lorena (Ciudad de Cusco - Cusco) 
											li Fecha del hecho: 1997
											li Edad de la ligadura:  34 
										p.sub-text
											|“Por miedo a que me liguen preferí dar a luz en un hospital del Cusco, porque pensé que en la ciudad no me iban a hacer ese atropello. Pero ha sido peor... He dado a luz en el Hospital Antonio Lorena del Cusco 
											b el día de la madre. Ese mismo día sin mi voluntad, amarrándome, me han ligado”.  
																					

			.container.display-responsive
				.row
					.col-md-12
						#media.carousel.slide.media-carousel
							.carousel-inner
								.item.active
									.row
										.col-md-3.col-sm-3
											a#carousel-selector-0.thumbnail
												img(src='images/album-cusco/margarita-puma.jpg')
										.col-md-3.col-sm-3
											a#carousel-selector-1.thumbnail
												img(src='images/album-cusco/lorenza-ylla.jpg')
										.col-md-3.col-sm-3
											a#carousel-selector-2.thumbnail
												img(src='images/album-cusco/susana-quispe.jpg')
										.col-md-3.col-sm-3
											a#carousel-selector-3.thumbnail
												img(src='images/album-cusco/florentina-thupa.jpg')
								.item
									.row
										.col-md-3.col-sm-3
											a#carousel-selector-4.thumbnail
												img(src='images/album-cusco/nelly-quispe.jpg')
										.col-md-3.col-sm-3
											a#carousel-selector-5.thumbnail
												img(src='images/album-cusco/valentina-huisa.jpg')
										.col-md-3.col-sm-3
											a#carousel-selector-6.thumbnail
												img(src='images/album-cusco/felipa-mamani.jpg')
										.col-md-3.col-sm-3
											a#carousel-selector-7.thumbnail
												img(src='images/album-cusco/juliana-yapo.jpg')
								.item
									.row
										.col-md-3.col-sm-3
											a#carousel-selector-8.thumbnail
												img(src='images/album-cusco/nicasia-quispe.jpg')
										.col-md-3.col-sm-3
											a#carousel-selector-9.thumbnail
												img(src='images/album-cusco/benita-huaranca.jpg')
										.col-md-3.col-sm-3
											a#carousel-selector-10.thumbnail
												img(src='images/album-cusco/rudeisnda-quillahuaman.jpg')
										.col-md-3.col-sm-3
											a#carousel-selector-11.thumbnail
												img(src='images/album-cusco/luisa-mejia.jpg')
								.item
									.row
										.col-md-3.col-sm-3
											a#carousel-selector-12.thumbnail
												img(src='images/album-cusco/pascuala-taboada.jpg')
										.col-md-3.col-sm-3
											a#carousel-selector-13.thumbnail
												img(src='images/album-cusco/natividad-cueva.jpg')
										.col-md-3.col-sm-3
											a#carousel-selector-14.thumbnail
												img(src='images/album-cusco/serafina-ylla.jpg')

							a.left.carousel-control(data-slide='prev', href='#media') ‹
							a.right.carousel-control(data-slide='next', href='#media') ›
			
			include base/jalador.pug



			footer
				include base/footer.pug

			include base/script.pug