
html
	head
		title Secuelas Perpetuas | Testimonios desde Cusco | Esterilizaciones Forzadas | ligaduras de trompas | Mujeres shipibas y quechuas | víctimas shipibas | casos mujeres esterilizadas | Gobierno fujimorista | LaRepublica.pe
		meta(property="og:description",content='Mujeres cusqueñas fueron esterilizadas contra su voluntad en las postas de sus comunidades, así como en los más grandes hospitales de la ciudad.')
		meta(property="og:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/damianahuallpayunca")
		meta(property="og:title",content="Damiana Huallpayunca Quispe:  “A mi esposo lo obligaron a firmar para que me liguen”")
		meta(property="og:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/damianahuallpayunca.jpg")
		
		meta(name="twitter:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/damianahuallpayunca")
		meta(name="twitter:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/damianahuallpayunca.jpg")
		meta(name="twitter:title",content="Damiana Huallpayunca Quispe:  “A mi esposo lo obligaron a firmar para que me liguen”")
		meta(name="twitter:description",content='Mujeres cusqueñas fueron esterilizadas contra su voluntad en las postas de sus comunidades, así como en los más grandes hospitales de la ciudad.')

		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		.menu
				include base/menu.pug
		div.pd-105
		include mixin/relacionados-cusco.pug


		.casos-shipibas.container-fluid
			.container
				h2 Damiana Huallpayunca Quispe:  “A mi esposo lo obligaron a firmar para que me liguen”

				.row
					.col-lg-9.col-md-9.col-sm-12
						iframe(width="100%", src="https://www.youtube.com/embed/lhWU_KCZC8E?&amp;autoplay=1&amp;showinfo=0&fs=1&rel=0;",frameborder="0", allowfullscreen="true")
						br
						.traduccion
							.row
								.col-lg-8.col-md-6.col-sm-6.col-xs-12
									h4 LEALO EN 
										span#botones
											input(type="button",onclick="javascript:cambia_españolc2();",value="Español")
											input(type="button",onclick="javascript:cambia_quechuac2();",value="Quechua")
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									.btn-redes
										.share-buttons-square
											span.fb
												.fb-share-button(data-href='http://larepublica.pe/data/esterilizaciones-forzadas/damianahuallpayunca', data-layout='button', data-mobile-iframe='true')
													a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse') Compartir 
											span.twiter
												a.twitter-share-button(href='https://twitter.com/share', data-text='Secuelas Perpetuas | Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas', data-via='larepublica_pe', data-size='default', data-hashtags='EsterilizacionesForzadas')
												script.
													!function(d, s, id) {
													var js,
													fjs = d.getElementsByTagName(s)[0],
													p = /^http:/.test(d.location)
													? 'http'
													: 'https';
													if (!d.getElementById(id)) {
													js = d.createElement(s);
													js.id = id;
													js.src = p + '://platform.twitter.com/widgets.js';
													fjs.parentNode.insertBefore(js, fjs);
													}
													}(document, 'script', 'twitter-wjs');
							
							#capa-c2
								br
								p.txt-his
									| Damiana Huallpayunca Quispe piensa que 
									b si hubiera tenido una mejor educación 
									| o dinero, no hubieran violentado su cuerpo ni jugado con su mente.
								p.txt-his
									| Dio a luz en el 
									b Hospital Antonio Lorena, en la ciudad de Cusco. 
									| Inmediatamente después 
									b las enfermeras la rodearon 
									| exigiéndole que debía ligarse porque ya tenía muchos hijos. Durante los tres días que permaneció en el hospital, las enfermeras se le aparecían a toda hora a decirle lo mismo.
								p.txt-his
									| A Damiana Huallpayunca no le explicaron en qué consistía una ligadura, pero igual ella se mantuvo firme en todo momento diciendo que 
									a(target="_blank",href='http://larepublica.pe/26-04-2011/mi-me-esterilizaron-la-fuerza-y-hasta-hoy-sufro-las-consecuencias-0') no quería.
									|  Pasado los tres días, cuando su esposo fue a recogerla al hospital, las amenazas y el hostigamiento agudizaron:
								p.txt-his
									| -“Fujimori, el presidente, nos ha ordenado no solamente a ti sino a todas, a bastantes hemos ligado. En todas las postas de salud de todos los distritos están ligando. El presidente ha ordenado”, les decían las enfermeras. 
								p.txt-his
									b -“Si no quieres que tu esposa se ligue, a ti te vamos a hacer la ligadura”.
								p.txt-his
									|-“Si no dejas que le hagamos la ligadura a tu esposa, la guardia vendrá y los llevará”.

								p.txt-his
									| Así, chantajearon y 
									a(target="_blank",href='http://larepublica.pe/impresa/politica/720218-me-arrastraron-encerraron-y-me-hicieron-la-vasectomia') obligaron a su esposo
									b  a firmar un papel para que la esterilizaran. 
								p.txt-his
									| “ Cuando me han puesto la inyección (anestesia) me han amarrado mis manos, y me dijeron: “señora cuenta”. Me han hecho contar. El doctor hablaba gritando, tenía su carácter: ¡hasta cincuenta cuenta! No he llegado a contar hasta cincuenta. Tenía mucho miedo y 
									b luego he empezado a quedarme como muerta”. 







					.col-lg-3.col-md-3.col-sm-3.fichat
							img(src="images/damianahuallapayunca-fichas.jpg")
							div
								ul
									li 
										b Víctima: 
										|Damiana Huallpayunca Quispe 
									li 
										b Grado de instrucción: 
										|primero de primaria
									li 
										b Fecha del hecho: 
										|1996
									li 
										b Modus Operandi:  
										|Hostigamiento, Amenaza, Violencia
									li 
										b Edad de la ligadura: 
										|39
									li 
										b Vivía en: 
										|Comunidad Mahuaypampa, distrito Maras, provincia Urubamba.
									li 
										b Responsables de la ligadura: 
										| Hospital Antonio Lorena (ciudad de Cusco

		include base/jalador.pug					

		footer
			include base/footer.pug

		include base/script.pug