
html
	head
		title Secuelas Perpetuas | Testimonios desde Ucayali | Esterilizaciones Forzadas | ligaduras de trompas | Virginia Vásquez Mejías | víctimas shipibas | casos mujeres esterilizadas | Gobierno fujimorista | LaRepublica.pe

		meta(property="og:description",content='Mujeres shipibas de Ucayali fueron esterilizadas bajo engaños o ligadas al dar a luz.')
		meta(property="og:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/dinapangoa")
		meta(property="og:title",content="Dina Pangosa Vásquez: “A mí me han llevado, ellos son los culpables” ")
		meta(property="og:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/shipiba-1.jpg")
		
		meta(name="twitter:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/dinapangoa")
		meta(name="twitter:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/shipiba-1.jpg")
		meta(name="twitter:title",content="Dina Pangosa Vásquez: “A mí me han llevado, ellos son los culpables” ")
		meta(name="twitter:description",content='Mujeres shipibas de Ucayali fueron esterilizadas bajo engaños o ligadas al dar a luz.')
		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		.menu
			include base/menu.pug
		div.pd-105
		include mixin/relacionados-shipibas.pug

		.casos-shipibas.container-fluid
			.container
				h2 Dina Pangosa Vásquez: “A mí me han llevado, ellos son los culpables” 
				.row
					.col-lg-9.col-md-9.col-sm-12
						iframe(width="100%", src="https://www.youtube.com/embed/eXuOyxi0iGQ?&amp;autoplay=1&amp;showinfo=0&fs=1&rel=0;",frameborder="0", allowfullscreen="true")
						br
						.traduccion
							.row
								.col-lg-8.col-md-6.col-sm-6.col-xs-12
									br
									h4 LEALO EN 
										span#botones
											input(type="button",onclick="javascript:cambia_español();",value="Español")
											input(type="button",onclick="javascript:cambia_shipibo();",value="Shipibo")
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									.btn-redes
										.share-buttons-square
											span.fb
												.fb-share-button(data-href='http://larepublica.pe/data/esterilizaciones-forzadas/dinapangoa', data-layout='button', data-mobile-iframe='true')
													a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse') Compartir 
											span.twiter
												a.twitter-share-button(href='https://twitter.com/share', data-text='Secuelas Perpetuas | Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas', data-via='larepublica_pe', data-size='default', data-hashtags='EsterilizacionesForzadas')
												script.
													!function(d, s, id) {
													var js,
													fjs = d.getElementsByTagName(s)[0],
													p = /^http:/.test(d.location)
													? 'http'
													: 'https';
													if (!d.getElementById(id)) {
													js = d.createElement(s);
													js.id = id;
													js.src = p + '://platform.twitter.com/widgets.js';
													fjs.parentNode.insertBefore(js, fjs);
													}
													}(document, 'script', 'twitter-wjs');
							#capa
								br
								p.txt-his 
									|Dina Pangosa Vásquez fue  
									a(target="_blank",href='http://larepublica.pe/06-11-2013/mas-de-200-mujeres-contaron-a-fiscal-como-fujimorismo-las-engano-para-esterilizarlas') engañada por los enfermeros 
									|del puesto de salud Santa Rosa (distrito Masisea, provincia Coronel Portillo, Ucayali). La subieron a un bote para llevarla al 
									b Centro de Salud de Masisea 
									|con la promesa de brindarle un chequeo médico.

								p.txt-his 
									|Junto con su amiga shipiba Gloria, y dos señoras más, 
									b navegaron a través del río Pashitea con dirección al encuentro con sus verdugos.

								p.txt-his 
									|En el centro de salud los enfermeros sacaron una lista, y 
									b las empezaron a llamar una a una por su nombre 
									| para que pasen a una sala.

								p.txt-his 
									| “Me dijeron que me eche en la camilla, yo me eché porque pensé que era para la consulta. 
									b Me pusieron una inyección (anestesia) sin decirme nada...
									|nadie me explicó lo que me iban a hacer, empecé a sentirme adormecida”, relata Dina Pangosa. 
								p.txt-his 
									| Cuando despertó, ya estaba 
									a(target="_blank",href='http://larepublica.pe/impresa/politica/709900-alejandro-aguinaga-admite-esterilizaciones-forzadas-pero-solo-en-34-casos') esterilizada
									|. No podía caminar, le dolía mucho el cuerpo, 
									b no sabía por qué tenía un corte. 
									| Un enfermero, de manera muy tranquila, le dijo que la habían ligado para no tener más hijos, y le recomendó cuidarse bien hasta que sane su herida.

								p.txt-his 
									|“Si hubiera sabido no hubiera ido (al Centro de Salud Masisea), a mí me han llevado...quiero justicia, a mí me han llevado, ellos son los culpables”.


					.col-lg-3.col-md-3.col-sm-12.fichat
							img(src="images/dinapangoa-ficha.jpg")
							div
								ul
									li 
										b Víctima: 
										|Dina Pangosa Vásquez
									li 
										b Grado de instrucción: 
										|tercero de primaria 
									li 
										b Fecha del hecho: 
										|1997
									li 
										b Modus Operandi:  
										|Engaño
									li 
										b Edad de la ligadura: 
										|37
									li 
										b Vivía en: 
										|Vista Alegre de Pashitea, distrito Masisea, provincia Coronel Portillo.
									li 
										b Responsables de la captación: 
										|Puesto de Salud de Santa Rosa
									li 
										b Responsables de la ligadura: 
										|Centro de Salud Masisea
							
	

		include base/jalador.pug						

		footer
			include base/footer.pug

		include base/script.pug