
html
	head
		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		.menu
			include base/menu.pug
		div.pd-105
		include mixin/relacionados-shipibas.pug

		.casos-shipibas.container-fluid
			.container
				h2 Dina Pangosa Vásquez: “A mí me han llevado, ellos son los culpables” 
				.row
					.col-lg-9.col-md-9.col-sm-12
						iframe(width="100%", src="https://www.youtube.com/embed/eXuOyxi0iGQ?&amp;autoplay=1&amp;showinfo=0&fs=1&rel=0;",frameborder="0", allowfullscreen="true")
						
						.traduccion
							br
							h4 LEALO EN 
								span#botones
									input(type="button",onclick="javascript:cambia_español();",value="Español")
									input(type="button",onclick="javascript:cambia_shipibo();",value="Shipibo")
							#capa
								br
								p.txt-his 
									|Dina Pangosa Vásquez fue  
									a(target="_blank",href='http://larepublica.pe/06-11-2013/mas-de-200-mujeres-contaron-a-fiscal-como-fujimorismo-las-engano-para-esterilizarlas') engañada por los enfermeros 
									|del puesto de salud Santa Rosa (distrito Masisea, provincia Coronel Portillo, Ucayali). La subieron a un bote para llevarla al 
									b Centro de Salud de Masisea 
									|con la promesa de brindarle un chequeo médico.

								p.txt-his 
									|Junto con su amiga shipiba Gloria, y dos señoras más, 
									b navegaron a través del río Pashitea con dirección al encuentro con sus verdugos.

								p.txt-his 
									|En el centro de salud los enfermeros sacaron una lista, y 
									b las empezaron a llamar una a una por su nombre 
									| para que pasen a una sala.

								p.txt-his 
									| “Me dijeron que me eche en la camilla, yo me eché porque pensé que era para la consulta. 
									b Me pusieron una inyección (anestesia) sin decirme nada...
									|nadie me explicó lo que me iban a hacer, empecé a sentirme adormecida”, relata Dina Pangosa. 
								p.txt-his 
									| Cuando despertó, ya estaba 
									a(target="_blank",href='http://larepublica.pe/impresa/politica/709900-alejandro-aguinaga-admite-esterilizaciones-forzadas-pero-solo-en-34-casos') esterilizada
									|. No podía caminar, le dolía mucho el cuerpo, 
									b no sabía por qué tenía un corte. 
									| Un enfermero, de manera muy tranquila, le dijo que la habían ligado para no tener más hijos, y le recomendó cuidarse bien hasta que sane su herida.

								p.txt-his 
									|“Si hubiera sabido no hubiera ido (al Centro de Salud Masisea), a mí me han llevado...quiero justicia, a mí me han llevado, ellos son los culpables”.


					.col-lg-3.col-md-3.col-sm-12.fichat
							img(src="images/dinapangoa-ficha.jpg")
							div
								ul
									li 
										b Víctima: 
										|Dina Pangosa Vásquez
									li 
										b Grado de instrucción: 
										|tercero de primaria 
									li 
										b Fecha del hecho: 
										|1997
									li 
										b Modus Operandi:  
										|Engaño
									li 
										b Edad de la ligadura: 
										|37
									li 
										b Vivía en: 
										|Vista Alegre de Pashitea, distrito Masisea, provincia Coronel Portillo.
									li 
										b Responsables de la captación: 
										|Puesto de Salud de Santa Rosa
									li 
										b Responsables de la ligadura: 
										|Centro de Salud Masisea
							
	

		include base/jalador.pug						

		footer
			include base/footer.pug

		include base/script.pug