
html
	head
		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			
		.menu
			include base/menu.pug
		div.pd-105
		include mixin/relacionados-cusco.pug


		.casos-shipibas.container-fluid
			.container
				h2 Ernestina Mamani Quispe : “Me obligaron a firmar un papel y yo no sabía leer” 

				.row
					.col-lg-9.col-md-9.col-sm-12
						iframe(width="100%",height="50%",src="https://www.youtube.com/embed/Uf9Af3ANEbE?&autoplay=1&showinfo=0&fs=0&rel=0;",frameborder="0",allowfullscreen="")
						.traduccion
							br
							h4 LEALO EN 
								span#botones
									input(type="button",onclick="javascript:cambia_españolc3();",value="Español")
									input(type="button",onclick="javascript:cambia_quechuac3();",value="Quechua")
							#capa-c3
								br
								p “¡Hasta cuándo vas a tener tus hijos, como el cuy, como el chancho!”, así le dijeron a Ernestina Mamani Quispe las enfermeras del Centro de Salud de Huancarani (distrito Huancarani, provincia Paucartambo, región Cusco) en una de sus tantas visitas para captarla  y posteriormente  llevarla a ligar al Hospital de Paucartambo. 
								p En una de aquellas atemorizantes visitas Ernestina estaba sembrando papa, vio que las enfermeras de acercaban, se escondió, pero la agarraron. La metieron a la fuerza a una ambulancia, rumbo al Hospital.  
								p “Me llevaron al Hospital de Paucartambo, ahí me estaba escapando, pero el policía me ha agarrado y me llevó como si estuviese presa”.  
								p Ernestina lloraba y gritaba con todas sus fuerzas. El personal de salud molesto le decía que se calmara porque con su actitud estaba incentivando a las demás señoras a escaparse, a asustarse.
								p “Me dieron un papel para firmar, estaba llorando, no sé leer. Firma, firma, firma, me decían, me obligaron a firmar y yo sin conocimiento lo hice”.  
								p “Cuando me han puesto a la cama, me han puesto la inyección (anestesia). Me agarraron de las manos, me aplastaron con su rodilla en la barriga, y me dijeron: ahí chiquitito no más te van a hacer la ligadura, por gusto pataleas”.
								p Ernestina recién reaccionó cuando llegó a su casa en Huancarani. Las enfermeras  la llevaron de regreso. Una vecina le dijo: “Habías estado viva todavía Ernestina, yo pensé que te habías muerto, porque toda inconsciente te han traído”. 
							

					.col-lg-3.col-md-3.col-sm-12.fichat
							img(src="images/ernestinamamani-fichas.jpg")
							div
								ul
									li 
										b Víctima: 
										|Ernestina Mamani Quispe
									li 
										b Grado de instrucción: 
										|tercero de primaria
									li 
										b Fecha del hecho: 
										|1997
									li 
										b Modus Operandi:  
										|Hostigamiento, Violencia
									li 
										b Edad de la ligadura: 
										|29
									li 
										b Vivía en: 
										|Comunidad Patacancha, distrito Huancarani, provincia Paucartambo. 
									li 
										b Responsables de la captación: 
										|Centro de Salud Huancarani 
									li 
										b Responsables de la ligadura: 
										|Hospital de Paucartambo

								
		include base/jalador.pug	
		footer
			include base/footer.pug

		include base/script.pug