
html
	head
		title Secuelas Perpetuas | Testimonios desde Cusco | Esterilizaciones Forzadas | ligaduras de trompas | Mujeres shipibas y quechuas | víctimas shipibas | casos mujeres esterilizadas | Gobierno fujimorista | LaRepublica.pe
		meta(property="og:description",content='Mujeres cusqueñas fueron esterilizadas contra su voluntad en las postas de sus comunidades, así como en los más grandes hospitales de la ciudad.')
		meta(property="og:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/ernestinamamani")
		meta(property="og:title",content="Ernestina Mamani Quispe: “Me obligaron a firmar un papel y yo no sabía leer”")
		meta(property="og:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/ernestinamamani.jpg")
		
		meta(name="twitter:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/ernestinamamani")
		meta(name="twitter:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/ernestinamamani.jpg")
		meta(name="twitter:title",content="Ernestina Mamani Quispe: “Me obligaron a firmar un papel y yo no sabía leer”")
		meta(name="twitter:description",content='Mujeres cusqueñas fueron esterilizadas contra su voluntad en las postas de sus comunidades, así como en los más grandes hospitales de la ciudad.')

		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			
		.menu
			include base/menu.pug
		div.pd-105
		include mixin/relacionados-cusco.pug


		.casos-shipibas.container-fluid
			.container
				h2 Ernestina Mamani Quispe: “Me obligaron a firmar un papel y yo no sabía leer” 

				.row
					.col-lg-9.col-md-9.col-sm-12
						iframe(width="100%", src="https://www.youtube.com/embed/Mun-cBlsN7A?&amp;autoplay=1&amp;showinfo=0&fs=1&rel=0;",frameborder="0", allowfullscreen="true")
						br
						.traduccion
							.row
								.col-lg-8.col-md-6.col-sm-6.col-xs-12
									br
									h4 LEALO EN 
										span#botones
											input(type="button",onclick="javascript:cambia_españolc3();",value="Español")
											input(type="button",onclick="javascript:cambia_quechuac3();",value="Quechua")
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									.btn-redes
										.share-buttons-square
											span.fb
												.fb-share-button(data-href='http://larepublica.pe/data/esterilizaciones-forzadas/ernestinamamani', data-layout='button', data-mobile-iframe='true')
													a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse') Compartir 
											span.twiter
												a.twitter-share-button(href='https://twitter.com/share', data-text='Secuelas Perpetuas | Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas', data-via='larepublica_pe', data-size='default', data-hashtags='EsterilizacionesForzadas')
												script.
													!function(d, s, id) {
													var js,
													fjs = d.getElementsByTagName(s)[0],
													p = /^http:/.test(d.location)
													? 'http'
													: 'https';
													if (!d.getElementById(id)) {
													js = d.createElement(s);
													js.id = id;
													js.src = p + '://platform.twitter.com/widgets.js';
													fjs.parentNode.insertBefore(js, fjs);
													}
													}(document, 'script', 'twitter-wjs');
							#capa-c3
								br
								p.txt-his 
									| “¡Hasta cuándo vas a tener tus hijos, como el cuy, como el chancho!”, así le dijeron a Ernestina Mamani Quispe las enfermeras del 
									b Centro de Salud de Huancarani 
									| (distrito Huancarani, provincia Paucartambo, Cusco) en una de sus tantas visitas a su casa para llevarla a ligar al 
									b hospital de Paucartambo.
								p.txt-his
									| En una de aquellas atemorizantes visitas Ernestina 
									b estaba sembrando papa, vio que las enfermeras se acercaban, se escondió, pero la agarraron. 
									| La metieron a la fuerza a una ambulancia, rumbo al hospital.
								p.txt-his
									| “Me llevaron al hospital de Paucartambo, ahí me estaba escapando, pero 
									b el policía me ha agarrado y me llevó como si estuviese presa”.
								p.txt-his
									| Ernestina Mamani lloraba y gritaba con todas sus fuerzas. 
									a(target="_blank",href='http://larepublica.pe/impresa/en-portada/752295-ningun-medico-actuaba-por-su-cuenta-sino-que-obedecia-los-mandatos-del-gobierno') El personal de salud
									|   le decía que se calmara porque con su actitud estaba incentivando a las demás señoras a escaparse.
								p.txt-his
									b “Me dieron un papel para firmar, estaba llorando, no sé leer... 
									| Firma, firma, así me decían... me obligaron a firmar y yo sin conocimiento lo hice”.
								p.txt-his
									| “Cuando me han puesto en la cama, me han puesto la inyección (anestesia). 
									b Me agarraron de las manos, me aplastaron con su rodilla en la barriga, 
									|  y me dijeron: ahí chiquitito no más te van a hacer la ligadura, por gusto pataleas”.
								p.txt-his
									|Ernestina Mamani recién reaccionó en 
									a(target="_blank",href='http://larepublica.pe/impresa/en-portada/712791-captacion-de-mujeres-para-campanas-de-esterilizacion-masiva-fue-casa-por-casa')  su casa,
									|  en Huancarani. Las enfermeras la llevaron de regreso. 
								p.txt-his
									b  Una vecina le dijo: 
									|  “Habías estado viva todavía Ernestina, yo pensé que te habías muerto, porque 
									b  toda inconsciente te han traído”.



					.col-lg-3.col-md-3.col-sm-12.fichat
							img(src="images/ernestinamamani-fichas.jpg")
							div
								ul
									li 
										b Víctima: 
										|Ernestina Mamani Quispe
									li 
										b Grado de instrucción: 
										|tercero de primaria
									li 
										b Fecha del hecho: 
										|1997
									li 
										b Modus Operandi:  
										|Hostigamiento, Violencia
									li 
										b Edad de la ligadura: 
										|29
									li 
										b Vivía en: 
										|Comunidad Patacancha, distrito Huancarani, provincia Paucartambo. 
									li 
										b Responsables de la captación: 
										|Centro de Salud Huancarani 
									li 
										b Responsables de la ligadura: 
										|Hospital de Paucartambo

								
		include base/jalador.pug	
		footer
			include base/footer.pug

		include base/script.pug