
html
	head
		include base/head.pug
	   	
	body
		#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		.menu
			nav.menu-home.navbar.navbar-default
				.container-fluid
					.menu-md
						.col-xs-3
							.navbar-header
								button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
									span.sr-only
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a.navbar-brand-none(href='index.html')
									img(src='images/logo-reponsive.png', width='250', alt='')
						.col-xs-6.center
							.navbar-collapse
								ul.nav.navbar-nav
									li
										a(href='shipibas.html') UCAYALI
									li
										a(href='cusco.html') CUSCO
									li
										a(href='investigaciones.html') ARCHIVO
						.col-xs-3
							.nav.navbar-nav.navbar-right
								li
									a(href='http://larepublica.pe/')
										img(class="img-responsive" src='images/logo_lr.png', width='250', alt='')
					.menu-xs
						.navbar-header
							button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
								span.sr-only
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.navbar-brand-none(href='index.html')
								img(src='images/logo-reponsive.png', width='250', alt='')
					
						#bs-example-navbar-collapse-1.collapse.navbar-collapse
							ul.nav.navbar-nav
								li
									a(href='shipibas.html') UCAYALI
								li
									a(href='cusco.html') CUSCO
								li
									a(href='investigaciones.html') ARCHIVO

							ul.nav.navbar-nav.navbar-right
								li
									a(href='http://larepublica.pe/')
										img(class="img-responsive" src='images/logo_lr.png', width='250', alt='')
		.homepage-hero-module
			.video-container
				.title-container
					.headline
						h1
							a.v-center(href='index.html')
								img(src='images/logo.png', width='350')
						span.hashtag  #EsterilizacionesForzadas
						.share-buttons-square
							span.fb
								.fb-share-button(data-href='http://larepublica.pe/data/matanza-en-el-fronton', data-layout='button', data-mobile-iframe='true')
									a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse') Compartir 
							span.twiter
								a.twitter-share-button(href='https://twitter.com/share', data-text='El juicio final - Matanza en El Frontón. Estos son los 35 acusados por la fiscalía', data-via='larepublica_pe', data-size='default', data-hashtags='JuicioFinal')
								script.
									!function(d, s, id) {
									var js,
									fjs = d.getElementsByTagName(s)[0],
									p = /^http:/.test(d.location)
									? 'http'
									: 'https';
									if (!d.getElementById(id)) {
									js = d.createElement(s);
									js.id = id;
									js.src = p + '://platform.twitter.com/widgets.js';
									fjs.parentNode.insertBefore(js, fjs);
									}
									}(document, 'script', 'twitter-wjs');
					.description
						.inner
							| Mujeres shipibas y quechuas que sufrieron la ligadura de trompas contra su voluntad, durante el Gobierno Fujimorista, relatan su desgarradora historia.
						.tw-meli
							h5
								| Por : 
								a(target='_blank', href='https://twitter.com/meligoytizolo') Melissa Goytizolo
								br
								| melissa.goytizolo@glr.pe
				.arrow.bounce
					a.smoothScroll(href='#about')
						i.fa.fa-angle-down.fa-5x(aria-hidden='true')
				.filter
					video.fillWidth(autoplay='', loop='')
						source(src='images/Secuencia 01_10.mp4', type='video/mp4')
				.poster.hidden
					img(src='http://www.videojs.com/img/poster.jpg', alt='')


		
		section.intro
			.container.container-intro
				h2 Introducción
				iframe(width="100%",height="50%",src="https://www.youtube.com/embed/jzfBkvQUkXI?&showinfo=0&fs=0&rel=0;",frameborder="0",allowfullscreen="")
				.share-buttons-square
					span.fb
						div.fb-share-button(data-href="http://larepublica.pe/data/matanza-en-el-fronton",data-layout="button",data-mobile-iframe="true")
							a.fb-xfbml-parse-ignore(target="_blank",href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse") Compartir 
					span.twiter
						a(href="https://twitter.com/share",class="twitter-share-button",data-text="El juicio final - Matanza en El Frontón. Estos son los 35 acusados por la fiscalía",data-via="larepublica_pe",data-size="default",data-hashtags="JuicioFinal")
						script.
							!function(d, s, id) {
								var js,
									fjs = d.getElementsByTagName(s)[0],
									p = /^http:/.test(d.location)
										? 'http'
										: 'https';
								if (!d.getElementById(id)) {
									js = d.createElement(s);
									js.id = id;
									js.src = p + '://platform.twitter.com/widgets.js';
									fjs.parentNode.insertBefore(js, fjs);
								}
							}(document, 'script', 'twitter-wjs');
				
				p.txt-his
					|Durante el segundo gobierno de 
					a(target="_blank",href='http://larepublica.pe/politica/832536-alberto-fujimori-se-queja-por-corte-de-luz-y-agua-en-su-celda-de-la-diroes') Fujimori 
					|se realizó un programa de salud reproductiva y planificación familiar, que privilegiaba como método 
					b las esterilizaciones o ligaduras de trompas 
					|para que las mujeres más pobres no tuvieran 
					b hijos nunca más.

				p.txt-his 
					|Desde que comenzó el programa en 1996, investigaciones de medios y de organizaciones no gubernamentales denunciaron numerosos casos de mujeres esterilizadas 
					b sin su consentimiento, 
					|es decir, 
					b bajo amenazas, engaños, sobornos o violencia. 


				p.txt-his
					|Para nuestro especial Secuelas Perpetuas recogimos documentos, 
					a(target="_blank",href='http://larepublica.pe/impresa/en-portada/746438-bajo-amenaza-nos-hicieron-participar-en-las-esterilizaciones-de-mujeres') entrevistamos a personal de salud 
					| y conversamos con 
					b más de cincuenta mujeres esterilizadas contra su voluntad en las diversas comunidades shipibas de 
					b Ucayali, 
					|y centros poblados de 
					b Cusco. 

				p.txt-his  
					|Las entrevistadas cuentan que fueron sometidas a las ligaduras sin que los enfermeros y médicos, que 
					b en su mayoría no hablaban su idioma, 
					|les informaran de la intervención quirúrgica; o bajo amenazas a ellas y sus familiares.

				p.txt-his
					|Con nuestro especial 
					b Secuelas Perpetuas  
					|esperamos colaborar a que el 
					b Ministerio Público 
					a(target="_blank",href='http://larepublica.pe/impresa/politica/829000-evaluan-llevar-caso-de-esterilizaciones-la-cidh') lleve a juicio el caso de Esterilizaciones Forzadas 
					| y que incluya en su investigación los numerosos testimonios de las víctimas shipibas de Ucayali. ¡Que no quede impune este 
					b crimen de lesa humanidad! 


		include base/jalador.pug

		footer
			include base/footer.pug
			
		include base/script.pug