
html
	head
		title Secuelas Perpetuas | Esterilizaciones Forzadas | ligaduras de trompas | Mujeres shipibas y quechuas | víctimas shipibas | mujeres esterilizadas | Gobierno fujimorista | casos de mujeres esterilizadas | LaRepublica.pe

		meta(property="og:description",content='Mujeres shipibas y quechuas cuentan en video y en su propio idioma las estrategias que emplearon para esterilizarlas, y quiénes lo hicieron. ')
		meta(property="og:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/")
		meta(property="og:title",content="#SecuelasPerpetuas Más de 50 mujeres revelan como las ligaron sin su consentimiento. #EsterilizacionesForzadas")
		meta(property="og:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/foto_portada.jpg")
		
		meta(name="twitter:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/")
		meta(name="twitter:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/foto_portada.jpg")
		meta(name="twitter:title",content="#SecuelasPerpetuas Más de 50 mujeres revelan como las ligaron sin su consentimiento. #EsterilizacionesForzadas")
		meta(name="twitter:description",content='Mujeres shipibas y quechuas cuentan en video y en su propio idioma las estrategias que emplearon para esterilizarlas, y quiénes lo hicieron. ')

		include base/head.pug
	   	
	body
		#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		.menu
			nav.menu-home.navbar.navbar-default
				.container-fluid
					.menu-md
						.col-xs-3
							.navbar-header
								button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
									span.sr-only
									span.icon-bar
									span.icon-bar
									span.icon-bar
								a.navbar-brand-none.all-center(href='index.html')
									img(src='images/logo-reponsive.png', width='250', alt='')
						.col-xs-6.center
							.navbar-collapse
								ul.nav.navbar-nav
									li
										a(href='shipibas.html') CASOS UCAYALI
									li
										a(href='cusco.html') CASOS CUSCO
									li
										a.arch(href='investigaciones.html') MAS INVESTIGACIONES
						.col-xs-3
							.nav.navbar-nav.navbar-right
								li
									a(target="_blank" href='http://larepublica.pe/')
										img(class="img-responsive" src='images/logo_lr.png', width='250', alt='')
					.menu-xs
						.navbar-header
							button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
								span.sr-only
								span.icon-bar
								span.icon-bar
								span.icon-bar
							a.navbar-brand-none.all-center(target="_blank" href='index.html')
								img(src='images/logo-reponsive.png', width='250', alt='')
					
						#bs-example-navbar-collapse-1.collapse.navbar-collapse
							ul.nav.navbar-nav
								li
									a(href='shipibas.html') CASOS UCAYALI
								li
									a(href='cusco.html') CASOS CUSCO
								li
									a(href='investigaciones.html') MAS INVESTIGACIONES

							ul.nav.navbar-nav.navbar-right
								li
									a(href='http://larepublica.pe/')
										img(class="img-responsive" src='images/logo_lr.png', width='250', alt='')
		.homepage-hero-module
			.video-container.all-center
				.title-container.all-center
					.headline
						h1
							a.v-center(href='index.html')
								img.img-movil(src="images/home-image-responsive.jpg")
								img(src='images/logo.png', width='350')
						span.hashtag  #EsterilizacionesForzadas
						.btn-redes
							.share-buttons-square
								span.fb
									.fb-share-button(data-href='http://larepublica.pe/data/esterilizaciones-forzadas/', data-layout='button', data-mobile-iframe='true')
										a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse') Compartir 
								span.twiter
										a.twitter-share-button(href='https://twitter.com/share', data-text='Secuelas Perpetuas | Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas'  data-via='larepublica_pe', data-size='default' data-hashtags='EsterilizacionesForzadas') Tweet
										script.
											!function(d,s,id){
											var js,
											fjs=d.getElementsByTagName(s)[0],
											p=/^http:/.test(d.location)
											?'http'
											:'https';
											if(!d.getElementById(id)){
											js=d.createElement(s);
											js.id=id;
											js.src=p+'://platform.twitter.com/widgets.js';
											fjs.parentNode.insertBefore(js,fjs);}
											}(document, 'script', 'twitter-wjs');

					.description
						.inner
							| Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas, durante el segundo gobierno fujimorista, relatan sus desgarradoras historias.
						.tw-meli
							h5
								| Por : 
								a(target='_blank', href='https://twitter.com/meligoytizolo') Melissa Goytizolo
								br
								| melissa.goytizolo@glr.pe
				.arrow.bounce
					a.smoothScroll(href='#about')
						i.fa.fa-angle-down.fa-5x(aria-hidden='true')
				.filter
					video.fillWidth(autoplay='', loop='')
						source(src='images/Secuencia 01_10.mp4', type='video/mp4')
				.poster.hidden
					img(src='images/fondo_responsive1.jpg', alt='')


		
		section.intro
			.container.container-intro
				h2 Introducción
				iframe(width="100%", src="https://www.youtube.com/embed/sIpyIunOVJ4?&showinfo=0&fs=1&rel=0;",frameborder="0", allowfullscreen="true")
				.btn-redes
					.share-buttons-square
						span.fb
							div.fb-share-button(data-href="http://larepublica.pe/data/esterilizaciones-forzadas/",data-layout="button",data-mobile-iframe="true")
								a.fb-xfbml-parse-ignore(target="_blank",href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse") Compartir 
						span.twiter
							a(href="https://twitter.com/share",class="twitter-share-button",data-text="El juicio final - Matanza en El Frontón. Estos son los 35 acusados por la fiscalía",data-via="larepublica_pe",data-size="default",data-hashtags="JuicioFinal")
							script.
								!function(d, s, id) {
									var js,
										fjs = d.getElementsByTagName(s)[0],
										p = /^http:/.test(d.location)
											? 'http'
											: 'https';
									if (!d.getElementById(id)) {
										js = d.createElement(s);
										js.id = id;
										js.src = p + '://platform.twitter.com/widgets.js';
										fjs.parentNode.insertBefore(js, fjs);
									}
								}(document, 'script', 'twitter-wjs');
				
				p.txt-his
					|En 1996, en el segundo gobierno de 
					a(target="_blank",href='http://larepublica.pe/impresa/en-portada/711276-medicos-testifican-que-la-esterilizacion-masiva-fue-politica-de-gobierno-de-fujimori') Alberto Fujimori
					|, se lanzó un programa de salud reproductiva y planificación familiar, que privilegiaba como método
					b  las esterilizaciones o ligaduras de trompas 
					| para que las mujeres pobres
					b  no tuvieran más hijos.

				p.txt-his 
					| Desde el principio los medios de comunicación y organizaciones no gubernamentales denunciaron numerosos casos de mujeres esterilizadas
					b  sin su consentimiento.
					

				p.txt-his
					| Para nuestro especial 
					b Secuelas Perpetuas 
					| recogimos documentos, 
					a(target="_blank",href='http://larepublica.pe/impresa/en-portada/746438-bajo-amenaza-nos-hicieron-participar-en-las-esterilizaciones-de-mujeres') entrevistamos a personal de salud 
					|  y conversamos con
					b  más de 50 mujeres esterilizadas contra su voluntad 
					|  en las diversas comunidades shipibas de Ucayali, y centros poblados de
					b  Cusco. 

				p.txt-his  
					| Las testigos relatan en su propio idioma que fueron sometidas a las ligaduras sin que los
					b  enfermeros y médicos, que en su mayoría no hablaban su idioma,
					|  les informaran de la intervención quirúrgica. También manifestaron que fueron amenazadas ellas o miembros de sus familias.

				p.txt-his
					| El informe investigativo 
					b Secuelas Perpetuas 
					|ofrece al 
					b Ministerio Público 
					|testimonios que permitirán que se haga justicia en 
					a(target="_blank",href='http://larepublica.pe/impresa/politica/787369-es-necesaria-la-colaboracion-eficaz-de-medicos-en-crimen-de-esterilizacion') este caso criminal 
					|de lesa humanidad. 


		include base/jalador.pug

		footer
			include base/footer.pug
			
		include base/script.pug