
html
	head
		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
						
		.menu.menu-color
			include base/menu.pug

		include mixin/relacionados-shipibas.pug

		.casos-shipibas.container-fluid
			.container
				h2 Juliana Lomas Cauper : “Apagaron la luz, me pusieron una inyección (anestesia), no sabía que me hacían” 
				.row
					.col-lg-8.col-md-8.col-sm-8
						iframe(width="100%",height="50%",src="https://www.youtube.com/embed/m7sz0pHc8oM?rel=0&amp;showinfo=0?rel=0&autoplay=1",frameborder="0",allowfullscreen="",autoplay)
					.col-lg-4.col-md-4.col-sm-4.fichat
						img(src="images/julianalomas-ficha.jpg" width="60%" alt="")
						ul
							li 
								b Víctima: 
								|Juliana Lomas Cauper
							li 
								b Grado de instrucción: 
								|primero de primaria
							li 
								b Fecha del hecho: 
								|1997
							li 
								b Modus Operandi:  
								|Engaño, Violencia
							li 
								b Edad de la ligadura: 
								|33
							li 
								b Vivía en: 
								|Comunidad Pueblo Nuevo, distrito Iparía, provincia Coronel Portillo. 
							li 
								b Responsables de la captación: 
								| Posta de Pueblo Nuevo
							li 
								b Responsables de la ligadura: 
								|Centro de Salud de Iparía
				.row.traduccion
					.col-lg-8
						h4 LEALO EN 
							span#botones
								input(type="button",onclick="javascript:cambia_español1();",value="Español")
								input(type="button",onclick="javascript:cambia_shipibo1();",value="Shipibo")
						#capa-1
							p A la shipiba Juliana Lomas Cauper la ligaron contra su voluntad en el año 1997, año dónde las esterilizaciones compulsivas cobraron su mayor número de víctimas. 
							p “El enfermero Domingo Sánchez me buscó, no sabía nada. Me dijo que fuera para que me dieran ropa, dinero. Me ha dicho para ir al Centro de Salud Iparía (distrito Iparía, provincia Coronel Portillo, Región Pucallpa), y ahí me abandonó”. 
							p Habían pasado varias horas, Virginia tenía hambre. En el centro nadie le decía nada, ella preguntaba pero el silencio le respondía. Seguían pasando las horas hasta que dos enfermeros la hicieron pasar a una sala, Virginia sentía desconfianza.
							p “Me dijeron que pase no más, que no iba a pasar nada. Yo no quería, empecé a temblar. Una trabajadora me agarró de los brazos, yo hacía fuerza, me pusieron una inyección”.  
							p “Apagaron la luz, prendieron una más pequeña, temblaba,  estaba semi dormida, como semi muerta. ¿Para qué me hacían esto?, preguntaba, me preguntaba. Y hasta ahí no más me recuerdo”.  
							p Cuando despertó Virginia estaba en otra sala, sola, sangrando, con muchas preguntas en su cabeza. En el Centro de Salud de Iparía nadie le dijo que la habían ligado, recién en su comunidad se enteró el motivo de su sangre”. 
							
								

		footer
			include base/footer.pug

		include base/script.pug