
html
	head
		title Secuelas Perpetuas | Testimonios desde Ucayali | Esterilizaciones Forzadas | ligaduras de trompas | Virginia Vásquez Mejías | víctimas shipibas | casos mujeres esterilizadas | Gobierno fujimorista | LaRepublica.pe

		meta(property="og:description",content='Mujeres shipibas de Ucayali fueron esterilizadas bajo engaños o ligadas al dar a luz.')
		meta(property="og:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/julianalomas")
		meta(property="og:title",content="Juliana Lomas Cauper: “Apagaron la luz, me pusieron una inyección y grité. No sabía que me hacían” ")
		meta(property="og:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/julianalomas.jpg")
		
		meta(name="twitter:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/julianalomas")
		meta(name="twitter:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/julianalomas.jpg")
		meta(name="twitter:title",content="Juliana Lomas Cauper: “Apagaron la luz, me pusieron una inyección y grité. No sabía que me hacían” ")
		meta(name="twitter:description",content='Mujeres shipibas de Ucayali fueron esterilizadas bajo engaños o ligadas al dar a luz.')
		
		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
			
		.menu
			include base/menu.pug
		div.pd-105
		include mixin/relacionados-shipibas.pug

		.casos-shipibas.container-fluid
			.container
				h2 Juliana Lomas Cauper: “Apagaron la luz, me pusieron una inyección y grité. No sabía que me hacían” 

				.row
					.col-lg-9.col-md-9.col-sm-12
						iframe(width="100%", src="https://www.youtube.com/embed/vgntgf86o_g?&amp;autoplay=1&amp;showinfo=0&fs=1&rel=0;",frameborder="0", allowfullscreen="true")
						br
						.traduccion
							.row
								.col-lg-8.col-md-6.col-sm-6.col-xs-12
									h4 LEALO EN 
										span#botones
											input(type="button",onclick="javascript:cambia_español1();",value="Español")
											input(type="button",onclick="javascript:cambia_shipibo1();",value="Shipibo")
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									.btn-redes
										.share-buttons-square
											span.fb
												.fb-share-button(data-href='http://larepublica.pe/data/esterilizaciones-forzadas/julianalomas', data-layout='button', data-mobile-iframe='true')
													a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse') Compartir 
											span.twiter
												a.twitter-share-button(href='https://twitter.com/share', data-text='Secuelas Perpetuas | Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas', data-via='larepublica_pe', data-size='default', data-hashtags='EsterilizacionesForzadas')
												script.
													!function(d, s, id) {
													var js,
													fjs = d.getElementsByTagName(s)[0],
													p = /^http:/.test(d.location)
													? 'http'
													: 'https';
													if (!d.getElementById(id)) {
													js = d.createElement(s);
													js.id = id;
													js.src = p + '://platform.twitter.com/widgets.js';
													fjs.parentNode.insertBefore(js, fjs);
													}
													}(document, 'script', 'twitter-wjs');
						#capa-1
							br
							p.txt-his 
								|A la shipiba Juliana Lomas Cauper la ligaron contra su voluntad en el año 1997, año dónde las esterilizaciones forzadas cobraron su mayor número de 
								a(target="_blank",href='http://larepublica.pe/impresa/politica/772089-denuncian-intimidacion-victimas-de-esterilizaciones-forzadas-de-distrito-de-anta')  víctimas
								| .  
							p.txt-his 
								|“El enfermero Domingo Sánchez me buscó (en su casa), no sabía nada. 
								b Me dijo que fuera para que me dieran ropa, víveres y dinero. 
								|Me ha dicho para ir al 
								b Centro de Salud Iparía 
								| (distrito Iparía, provincia Coronel Portillo, Ucayali), y ahí me abandonó”.
							p.txt-his  
								|Habían pasado varias horas, tenía hambre. En el centro nadie le decía nada, ella preguntaba pero el silencio le respondía. Seguían pasando las horas hasta que dos enfermeros la hicieron pasar a un pequeño cuarto. Juliana Lomas 
								b sintió desconfianza.
							p.txt-his
								| “Me dijeron para pasar a una sala, que todo estaría bien, me echaron en la camilla...Cuando yo no quería echarme, 
								a(target="_blank",href='http://larepublica.pe/impresa/en-portada/745992-me-ataron-las-munecas-en-la-camilla-para-esterilizarme-la-fuerza')   a la fuerza me hicieron echar
								|, y grité fuerte”.
							p.txt-his
								b “Apagaron la luz, 
								|me pusieron una inyección (anestesia), yo temblaba, 
								b grité, no sabía que me hacían, 
								|me iba sintiendo como adormecida”.  
							p.txt-his
								| Cuando Juliana Lomas despertó estaba en otra sala, sola, sangrando, con muchas preguntas en su cabeza. En el Centro de Salud de Iparía 
								b nadie le dijo que la habían ligado, recién en su comunidad se enteró 
								|el motivo de su sangre”.


					.col-lg-3.col-md-3.col-sm-12.fichat
							img(src="images/julianalomas-ficha.jpg" )
							div
								ul
									li 
										b Víctima: 
										|Juliana Lomas Cauper
									li 
										b Grado de instrucción: 
										|primero de primaria
									li 
										b Fecha del hecho: 
										|1997
									li 
										b Modus Operandi:  
										|Engaño, Violencia
									li 
										b Edad de la ligadura: 
										|33
									li 
										b Vivía en: 
										|Comunidad Pueblo Nuevo, distrito Iparía, provincia Coronel Portillo. 
									li 
										b Responsables de la captación: 
										| Posta de Salud de Pueblo Nuevo
									li 
										b Responsables de la ligadura: 
										|Centro de Salud de Iparía
							
		include base/jalador.pug					

		footer
			include base/footer.pug

		include base/script.pug