
html
	head
		title Secuelas Perpetuas | Testimonios desde Ucayali | Esterilizaciones Forzadas | ligaduras de trompas | Virginia Vásquez Mejías | víctimas shipibas | casos mujeres esterilizadas | Gobierno fujimorista | LaRepublica.pe

		meta(property="og:description",content='Mujeres shipibas de Ucayali fueron esterilizadas bajo engaños o ligadas al dar a luz.')
		meta(property="og:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/lidiarodriguez")
		meta(property="og:title",content="Lidia Rodríguez Gonzáles: “Pensé que me hacían eso para curar mi hemorragia” ")
		meta(property="og:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/lidiarodriguez.jpg")
	
		meta(name="twitter:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/lidiarodriguez")
		meta(name="twitter:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/lidiarodriguez.jpg")
		meta(name="twitter:title",content="Lidia Rodríguez Gonzáles: “Pensé que me hacían eso para curar mi hemorragia”")
		meta(name="twitter:description",content='Mujeres shipibas de Ucayali fueron esterilizadas bajo engaños o ligadas al dar a luz.')
		
		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		
		.menu
			include base/menu.pug
		div.pd-105
		include mixin/relacionados-shipibas.pug
			
		.casos-shipibas.container-fluid
			.container
				h2 Lidia Rodríguez Gonzáles: “Pensé que me hacían eso para curar mi hemorragia”
				.row
					.col-lg-9.col-md-9.col-sm-12
						iframe(width="100%", src="https://www.youtube.com/embed/IE7PVq3ZAY8?&amp;autoplay=1&amp;showinfo=0&fs=1&rel=0;",frameborder="0", allowfullscreen="true")
						br
						.traduccion
							.row
								.col-lg-8.col-md-6.col-sm-6.col-xs-12
									h4 LEALO EN 
										span#botones
											input(type="button",onclick="javascript:cambia_español2();",value="Español")
											input(type="button",onclick="javascript:cambia_shipibo2();",value="Shipibo")
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									.btn-redes
										.share-buttons-square
											span.fb
												.fb-share-button(data-href='http://larepublica.pe/data/esterilizaciones-forzadas/lidiarodriguez', data-layout='button', data-mobile-iframe='true')
													a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse') Compartir 
											span.twiter
												a.twitter-share-button(href='https://twitter.com/share', data-text='Secuelas Perpetuas | Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas', data-via='larepublica_pe', data-size='default', data-hashtags='EsterilizacionesForzadas')
												script.
													!function(d, s, id) {
													var js,
													fjs = d.getElementsByTagName(s)[0],
													p = /^http:/.test(d.location)
													? 'http'
													: 'https';
													if (!d.getElementById(id)) {
													js = d.createElement(s);
													js.id = id;
													js.src = p + '://platform.twitter.com/widgets.js';
													fjs.parentNode.insertBefore(js, fjs);
													}
													}(document, 'script', 'twitter-wjs');
						#capa-2
							br
							p.txt-his   
								|Lidia Rodríguez Gonzáles fue por medicamentos para tratar su hemorragia a la posta de San Francisco (distrito Yarinacocha, provincia Coronel Portillo, Ucayali), la más cercana a su comunidad en Santa Clara. 
							p.txt-his
								|Allí le dijeron que no tenían medicina, pero que la llevarían 
								b a la ciudad de Pucallpa, al Hospital Amazónico, 
								|porque ahí con toda seguridad iban a curarla. 
							p.txt-his
								|En el trayecto del camino, ella jamás imaginó lo que tenían planeado hacer con su cuerpo.
							p.txt-his
								|“Me pusieron en la camilla 
								b sin decir nada, me ataron manos y pies 
								|para que no me moviera...pensé que me hacían eso para curar mi hemorragia”. 
							p.txt-his
								|Al despertarse, Lidia Rodríguez estaba esterilizada. Le reclamó a las enfermeras, y ellas le respondieron:“¿Por qué tanta pregunta?, ya te explicamos, 
								a(target="_blank",href='http://larepublica.pe/politica/773723-luis-bambaren-hay-etnias-que-desaparecieron-por-las-esterilizaciones-forzadas') muchos hijos tienes
								|”.
								
							p.txt-his
								b La obligaron a firmar un papel 
								|que nunca leyó, que nunca le leyeron. Estando en la cama, con mucho dolor, las enfermeras molestas le dijeron: “¡firma, firma, firma de una vez!”
							p.txt-his
								|Pasados cuatro meses luego de la ligadura, Lidia Rodríguez tuvo relaciones sexuales. Relata que sentía dolor y poco placer. Intentó nuevamente un año más tarde, pero era lo mismo. 
								b Nunca más volvió a tener sexo.
							p.txt-his
								|A su mamá, Dorotea Gonzáles Valle, también 
								a(target="_blank",href='http://larepublica.pe/impresa/en-portada/722457-la-campesina-seferina-castro-fue-esterilizada-cuando-tenia-dos-meses-de-embarazo') la esterilizaron 
								|  en el Hospital Amazónico. Su historia clínica, conseguida por La República, no registra ningún documento en el cual ella autorice que le liguen las trompas. 


					.col-lg-3.col-md-3.col-sm-12.fichat

							img(src="images/lidiarodriguez-fichas.jpg")
							div
								ul
									li 
										b Víctima: 
										|Lidia Rodríguez Gonzáles
									li 
										b Grado de instrucción: 
										|cuarto de secundaria 
									li 
										b Fecha del hecho: 
										|1999
									li 
										b Modus Operandi:  
										|Engaño, Violencia 
									li 
										b Edad de la ligadura: 
										|36
									li 
										b Vivía en: 
										|Comunidad Santa Clara, distrito Yarinacocha, provincia Coronel Portillo. 
									li 
										b Responsables de la captación: 
										| Puesto de Salud de Santa Rosa
									li 
										b Responsables de la ligadura: 
										| Hospital Amazónico (ciudad de Pucallpa)
							
					


		include base/jalador.pug	

		footer
			include base/footer.pug

		include base/script.pug