
html
	head
		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));
		
		.menu
			include base/menu.pug
		div.pd-105
		include mixin/relacionados-shipibas.pug
			
		.casos-shipibas.container-fluid
			.container
				h2 Lidia Rodríguez Gonzáles : “Pensé que me hacían eso para curar mi hemorragia”


				.row
					.col-lg-8.col-md-8.col-sm-8
						iframe(width="100%",height="50%",src="https://www.youtube.com/embed/-QCRha37THs?rel=0&amp;showinfo=0?rel=0&autoplay=1",frameborder="0",allowfullscreen="")
					.col-lg-4.col-md-4.col-sm-4.fichat
						img(src="images/lidiarodriguez-fichas.jpg" width="60%" alt="")
						ul
							li 
								b Víctima: 
								|Lidia Rodríguez Gonzáles
							li 
								b Grado de instrucción: 
								|cuarto de secundaria 
							li 
								b Fecha del hecho: 
								|1999
							li 
								b Modus Operandi:  
								|Engaño, Violencia 
							li 
								b Edad de la ligadura: 
								|36
							li 
								b Vivía en: 
								|Comunidad Santa Clara, distrito Yarinacocha, provincia Coronel Portillo. 
							li 
								b Responsables de la captación: 
								|Puesto de Santa Rosa
							li 
								b Responsables de la ligadura: 
								| Hospital Amazónico (ciudad de Pucallpa)
				.row.traduccion
					.col-lg-8
						h4 LEALO EN 
							span#botones
								input(type="button",onclick="javascript:cambia_español2();",value="Español")
								input(type="button",onclick="javascript:cambia_shipibo2();",value="Shipibo")
						#capa-2
							p  La señora Lidia Rodríguez Gonzáles fue por medicamentos para tratar su hemorragia a la posta de San Francisco (distrito Yarinacocha, provincia Coronel Portillo, región Pucallpa), la más cercana a su comunidad en Santa Clara. Allí le dijeron que no tenían medicina pero que la llevaban a la ciudad de Pucallpa, al Hospital Amazónico, porque ahí con toda seguridad la ayudarían. 
							p En el trayecto del camino Lidia jamás imaginó que ella sería una víctima más del Programa de Control Natal maquinado por el gobierno de Alberto Fujimori.  
							p “Me pusieron en la camilla sin decir nada, me ataron manos y pies para que no me moviera, no entendía bien para que me hacían todo eso, pero pensé que tal vez me hacían eso para curarme la hemorragia”.
							p Al despertarse la señora Lidia Rodríguez les reclamó a las enfermeras. Le dijeron:“¿Por qué tanta pregunta?, ya te explicamos, muchos hijos tienes”.
							p La obligaron a firmar un papel que nunca leyó, que nunca le leyeron, estando en la cama con mucho dolor: “¡¡firma, firma, firma de una vez!!”, le exigían, la obligaban molestas las enfermeras.  
							p Después de la esterilización la señora Rodríguez tuvo relaciones sexuales a los cuatro meses, pero le dolía y no sentía deseo. Probó nuevamente un año más tarde, pero era lo mismo. Nunca más volvió a tener sexo.
							p A su mamá, la señora Dorotea Gonzáles Valle, también la esterilizaron años atrás en el Hospital Amazónico. Su historia clínica, conseguida por La República, no registra ningún documento en el cual ella autorice que le liguen las trompas. 
							
					


		include base/jalador.pug	

		footer
			include base/footer.pug

		include base/script.pug