
html
	head
		title Secuelas Perpetuas | Testimonios desde Ucayali | Esterilizaciones Forzadas | ligaduras de trompas | Virginia Vásquez Mejías | víctimas shipibas | casos mujeres esterilizadas | Gobierno fujimorista | LaRepublica.pe

		meta(property="og:description",content='Mujeres shipibas de Ucayali fueron esterilizadas bajo engaños o ligadas al dar a luz.')
		meta(property="og:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/luciazumaeta")
		meta(property="og:title",content="Lucía Zumaeta López: “Me hicieron la cesárea y la ligadura al mismo tiempo” ")
		meta(property="og:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/luciazumaeta.jpg")
		
		meta(name="twitter:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/luciazumaeta")
		meta(name="twitter:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/luciazumaeta.jpg")
		meta(name="twitter:title",content="Lucía Zumaeta López: “Me hicieron la cesárea y la ligadura al mismo tiempo”  ")
		meta(name="twitter:description",content='Mujeres shipibas de Ucayali fueron esterilizadas bajo engaños o ligadas al dar a luz.')
		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		.menu
			include base/menu.pug
		div.pd-105
		include mixin/relacionados-shipibas.pug

		.casos-shipibas.container-fluid
			.container
				h2 Lucía Zumaeta López: “Me hicieron la cesárea y la ligadura al mismo tiempo”


				.row
					.col-lg-9.col-md-9.col-sm-12
						iframe(width="100%", src="https://www.youtube.com/embed/7CX4moqJXvs?&amp;autoplay=1&amp;showinfo=0&fs=1&rel=0;",frameborder="0", allowfullscreen="true")
						br
						.traduccion
							.row
								.col-lg-8.col-md-6.col-sm-6.col-xs-12
									br
									h4 LEALO EN 
										span#botones
											input(type="button",onclick="javascript:cambia_español3();",value="Español")
											input(type="button",onclick="javascript:cambia_shipibo3();",value="Shipibo")
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									.btn-redes
										.share-buttons-square
											span.fb
												.fb-share-button(data-href='http://larepublica.pe/data/esterilizaciones-forzadas/luciazumaeta', data-layout='button', data-mobile-iframe='true')
													a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse') Compartir 
											span.twiter
												a.twitter-share-button(href='https://twitter.com/share', data-text='Secuelas Perpetuas | Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas', data-via='larepublica_pe', data-size='default', data-hashtags='EsterilizacionesForzadas')
												script.
													!function(d, s, id) {
													var js,
													fjs = d.getElementsByTagName(s)[0],
													p = /^http:/.test(d.location)
													? 'http'
													: 'https';
													if (!d.getElementById(id)) {
													js = d.createElement(s);
													js.id = id;
													js.src = p + '://platform.twitter.com/widgets.js';
													fjs.parentNode.insertBefore(js, fjs);
													}
													}(document, 'script', 'twitter-wjs');
						#capa-3
							br
							p.txt-his 
								| La shipiba Lucía Zumaeta López fue una víctima más de la estrategia que aplicaba el Hospital Amazónico, ubicado en la ciudad de Pucallpa, para 
								a(target="_blank",href='http://larepublica.pe/impresa/politica/783684-historias-clinicas-prueban-que-shipibas-fueron-esterilizadas-sin-su-consentimiento') esterilizar sin consentimiento.
								|   Los doctores 
								b aprovechaban el momento en que las mujeres daban a luz para ligarlas. 
							p.txt-his 
								|Ella estaba embarazada de su última hija, Ruth Sánchez Zumaeta, y acudió junto con su esposo al hospital para dar a luz.
							p.txt-his 
								|“Me hicieron la ligadura y la cesárea al mismo tiempo. A mí no me han avisado, 
								b yo no sabía, así ha sido”.
							p.txt-his 
								|Recién al día siguiente de que la esterilizaran, las enfermeras le contaron a su esposo la verdad. Él les reclamó, pero ellas le respondieron: 
								a(target="_blank",href='http://larepublica.pe/impresa/en-portada/752295-ningun-medico-actuaba-por-su-cuenta-sino-que-obedecia-los-mandatos-del-gobierno') “Nosotras estamos ordenadas por el Gobierno,
								|  solo cumplimos órdenes”.
							p.txt-his 
								| En la 
								b historia clínica de Lucía Zumaeta, 
								|conseguida por 
								b La República, 
								|está indicado que el 22 de setiembre de 1998 los médicos escribieron: “OP CSTP + LTB”, es decir: Operación de Cesárea y al mismo tiempo Bloqueo Tubárico Bilateral, comúnmente conocido como ligadura de trompas.  
							p.txt-his 	
								|Además, el documento señala que la paciente tenía Preeclampsia Severa, una grave condición médica en la cual 
								b no está en la condición de tomar decisiones en lo absoluto.
							br
							img(id="lucia1", src="images/doc1.jpg" width="100%" alt="")
							br
							br
							p.txt-his
								| Pero eso no es todo. La historia clínica muestra que consintió una cesárea, pero 
								b no consigna en ninguna de sus 73 páginas que aceptará que la esterilizaran.
							br
							img(id="lucia2",src="images/doc2.jpg" width="100%" alt="")
							br
							br
							p.txt-his
								| Lucía Zumaeta no denunció en su momento por desconocimiento, pero hoy que ha roto su silencio está dispuesta a hacerlo. 
								a(target="_blank",href='http://larepublica.pe/impresa/politica/731693-victimas-de-esterilizaciones-afirman-haber-recibido-maltrato-de-los-fiscales') Ella pide que la Fiscalía le tome su testimonio.
								
					.col-lg-3.col-md-3.col-sm-12.fichat

							img(src="images/luciazumaeta-ficha.jpg")
							div
								ul
									li 
										b Víctima: 
										| Lucía Zumaeta López
									li 
										b Grado de instrucción: 
										|segundo de primaria 
									li 
										b Fecha del hecho: 
										|1998
									li 
										b Modus Operandi:  
										|Engaño
									li 
										b Edad de la ligadura: 
										|43
									li 
										b Vivía en: 
										|Comunidad San Francisco, distrito Yarinacocha, provincia Coronel Portillo.
									li 
										b Responsables de la ligadura: 
										| Hospital Amazónico (ciudad de Pucallpa)


		include base/jalador.pug	

		footer
			include base/footer.pug

		include base/script.pug