
html
	head
		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		.menu
			include base/menu.pug
		div.pd-105
		include mixin/relacionados-cusco.pug


		.casos-shipibas.container-fluid
			.container
				h2 Martina Camala Quispe : “Me dijeron que si no me ligaban me meterían a la cárcel”


				.row
					.col-lg-9.col-md-9.col-sm-12
						iframe(width="100%", src="https://www.youtube.com/embed/dzKSZAO8zLo?&amp;autoplay=1&amp;showinfo=0&fs=1&rel=0;",frameborder="0", allowfullscreen="true")
						.traduccion
						br
						h4 LEALO EN 
							span#botones
								input(type="button",onclick="javascript:cambia_españolc4();",value="Español")
								input(type="button",onclick="javascript:cambia_quechuac4();",value="Quechua")
						#capa-c4
							br
							p.txt-his
								| Con amenazas y violencia le ligaron las trompas a Martina Camala Quispe en  la posta de Colquepata (distrito Colquepata, provincia Paucartambo, Cusco),lugar donde 
								a(target="_blank",href='http://larepublica.pe/impresa/politica/717547-dos-policias-me-llevaron-de-los-brazos-como-ladrona-para-esterilizarme') más de cuarenta señoras
								|  han narrado a La República el atropello que se cometió contra ellas.


							p.txt-his 
								b Los enfermeros Alicia y Hernán 
								| le dijeron a Martina Camala para pasar a un cuartito a ligarse, para que de ahora en adelante le vaya mejor en la vida.
  
							p.txt-his 
								b Ella se negó, y empezaron las amenazas. 
								|Le dijeron que si no acataba las órdenes ni ella ni sus hijos podrían volver a atenderse en la posta. 
								b Qué ella y su esposo irían a la cárcel 
								|por oponerse al mandato del gobierno. 
							p.txt-his 
								| “Entre dos me han llevado adentro. Estírate, quítate tus ropas, así me decían. Me han puesto un vestido blanco. Estírate, me decían de nuevo, te vamos a poner un inyectable (anestesia) para que no llores, asi me han dicho...Un mesecito tenía mi bebé que estaba conmigo ese día, 
								b ellos lo estaban agarrando a mi bebé, y yo me he quedado dormida”.
							p.txt-his 
								| Martina había ido a la posta para el control de su bebé, y 
								a(target="_blank",href='http://larepublica.pe/30-03-2012/esterilizaciones-forzadas-no-deben-quedar-impunes') la esterilizaron a la fuerza.
								|  Hasta el día de hoy la tragedia no la deja dormir, y su esposo a raíz de lo sucedido la maltrata como jamás lo hizo antes.
							p.txt-his
								|“Yo me siento mal por haberme hecho esto, maldecía mucho. Mucha preocupación tengo, para pensando en esto y de eso me paro enfermando”.

							p.txt-his 
								b “Cuando he regresado a mi casa mi esposo con palo me ha pegado, 
								| me ha botado de la casa, me dijo que ahora andarás con otros hombres, hasta con el diablo vas a andar. Me dijo: ¿oye mujer, qué cosa has hecho? Querías caminar con otros varones, por eso te has hecho esa cosa”.
							p.txt-his
								b La República logró identificar a la enfermera de la posta de Colquepata que llevó a Martina Camala, bajo amenazas, a ligarse. Se llama Alicia Hilaria Muñoz Díaz.
							br
							img(id="lucia1", src="images/doc3.jpg" width="100%" alt="")
							br
							br
							p.txt-his 
								| “Esta es la señorita Alicia, la que me ha maltratado a mí, yo la maldigo a ella. Cuando yo le llevé a mi hijo a la posta ella me ha obligado a ligarme. Me dijo que si no me iba a llevar a la cárcel y que 
								a(target="_blank",href='http://larepublica.pe/impresa/en-portada/711276-medicos-testifican-que-la-esterilizacion-masiva-fue-politica-de-gobierno-de-fujimori') El Estado
								|  nunca más va a atender a mis hijos. Por eso 
								b yo le maldigo a esta señorita para siempre, 
								| porque por culpa de ella estoy así”, dijo indignada Martina Camala cuando le enseñamos la foto de la enfermera. 
							br
							img(id="lucia1", src="images/doc4.jpg" width="100%" alt="")
							br
							br
							p.txt-his
								| En el año 2015, más de 20 señoras ligadas a la fuerza en la posta de Colquepata 
								a(target="_blank",href='http://larepublica.pe/impresa/politica/717547-dos-policias-me-llevaron-de-los-brazos-como-ladrona-para-esterilizarme') contaron a La República que una tal enfermera Alicia
								|  las captaba con engaños, amenazas y a la fuerza para ligarlas. 
							p.txt-his
								| Le mostramos la foto de la enfermera a tres de ellas, y al instante la identificaron. Ellas fueron: 
								a(target="_blank",href='http://larepublica.pe/impresa/en-portada/722457-la-campesina-seferina-castro-fue-esterilizada-cuando-tenia-dos-meses-de-embarazo')  Seferina Castro Huamán 
								| (quién denunció en 1999 ante un juez de paz en Colquepata que la habían esterilizado en contra de su voluntad. La República obtuvo el documento de la denuncia),
								b  Juliana Yapo Flores 
								|y  
								b  Nelly Quispe Huisa.
							br
							img(id="lucia1", src="images/doc5.jpg" width="100%" alt="")
							p.txt-his Seferina Castro Huamán. 
							br
							img(id="lucia1", src="images/doc6.jpg" width="100%" alt="")
							p.txt-his Juliana Yapo Flores 
							br
							img(id="lucia1", src="images/doc7.jpg" width="100%" alt="")
							p.txt-his Nelly Quispe Huisa 
							br
							p.txt-his
								b La República buscó a la enfermera Alicia 
								| en su casa, y su respuesta fue la siguiente:
							p.txt-his
								| “No las forzamos, ni con policía hemos ido, 
								b es mentira lo que dicen...
								| Ha sido con su consentimiento de ellas, no las hemos jalado a la fuerza. Quién soy yo para amenazarles, yo qué gano con esto, no me han pagado nada, solamente han sido órdenes”.
							p.txt-his
								| “No soy la única, están mis compañeros, 
								b nos han obligado y hemos cumplido como orden del estado...Bien ha hecho el gobierno con esta campaña. Agua de chuño hervido les daban a sus hijos, 
								| los niños eran desnutridos, por eso mismo estoy de acuerdo...El gobierno ha implementado ese programa de esterilizaciones, nosotros solo hemos cumplido”.


							
					.col-lg-3.col-md-3.col-sm-12.fichat
							img(src="images/martinacamala-fichas.jpg")
							div
								ul
									li 
										b Víctima: 
										|Martina Camala Quispe
									li 
										b Grado de instrucción: 
										|primero de primaria
									li 
										b Fecha del hecho: 
										|1996
									li 
										b Modus Operandi:  
										|Amenaza
									li 
										b Edad de la ligadura: 
										|34
									li 
										b Vivía en: 
										|Comunidad Chocopia, distrito Colquepata, provincia Paucartambo.
									li 
										b Responsables de la captación: 
										| Posta de Salud de Colquepata 
									li 
										b Responsables de la ligadura: 
										| Posta de Salud de Colquepata 

					

		include base/jalador.pug		

		footer
			include base/footer.pug

		include base/script.pug