
html
	head
		title Secuelas Perpetuas | Testimonios desde Cusco | Esterilizaciones Forzadas | ligaduras de trompas | Mujeres shipibas y quechuas | víctimas shipibas | casos mujeres esterilizadas | Gobierno fujimorista | LaRepublica.pe
		meta(property="og:description",content='Mujeres cusqueñas fueron esterilizadas contra su voluntad en las postas de sus comunidades, así como en los más grandes hospitales de la ciudad.')
		meta(property="og:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/maximilianaquillhuaman")
		meta(property="og:title",content="Maximiliana Quillahuaman Quispe: “A los 25 años me hicieron esto” ")
		meta(property="og:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/maximilianaquillhuaman.jpg")
		
		meta(name="twitter:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/maximilianaquillhuaman")
		meta(name="twitter:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/maximilianaquillhuaman.jpg")
		meta(name="twitter:title",content="Maximiliana Quillahuaman Quispe: “A los 25 años me hicieron esto”")
		meta(name="twitter:description",content='Mujeres cusqueñas fueron esterilizadas contra su voluntad en las postas de sus comunidades, así como en los más grandes hospitales de la ciudad.')

		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		.menu
			include base/menu.pug
		div.pd-105
		include mixin/relacionados-cusco.pug


		.casos-shipibas.container-fluid
			.container
				h2 Maximiliana Quillahuaman Quispe: “A los 25 años me hicieron esto”
				.row
					.col-lg-9.col-md-9.col-sm-12
						iframe(width="100%", src="https://www.youtube.com/embed/WkhcMjytz6I?&amp;autoplay=1&amp;showinfo=0&fs=1&rel=0;",frameborder="0", allowfullscreen="true")
						br
						.traduccion
							.row
								.col-lg-8.col-md-6.col-sm-6.col-xs-12
									br
									h4 LEALO EN 
										span#botones
											input(type="button",onclick="javascript:cambia_españolc5();",value="Español")
											input(type="button",onclick="javascript:cambia_quechuac5();",value="Quechua")
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									.btn-redes
										.share-buttons-square
											span.fb
												.fb-share-button(data-href='http://larepublica.pe/data/esterilizaciones-forzadas/maximilianaquillhuaman', data-layout='button', data-mobile-iframe='true')
													a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse') Compartir 
											span.twiter
												a.twitter-share-button(href='https://twitter.com/share', data-text='Secuelas Perpetuas | Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas', data-via='larepublica_pe', data-size='default', data-hashtags='EsterilizacionesForzadas')
												script.
													!function(d, s, id) {
													var js,
													fjs = d.getElementsByTagName(s)[0],
													p = /^http:/.test(d.location)
													? 'http'
													: 'https';
													if (!d.getElementById(id)) {
													js = d.createElement(s);
													js.id = id;
													js.src = p + '://platform.twitter.com/widgets.js';
													fjs.parentNode.insertBefore(js, fjs);
													}
													}(document, 'script', 'twitter-wjs');

							#capa-c5
								br
								p.txt-his 
									| Maximiliana Quillahuaman Quispe 
									a(target="_blank",href='http://larepublica.pe/impresa/politica/773113-nativas-shipibas-las-otras-victimas-de-fujimori')  dio a luz
									|  y al poco tiempo llevó a su hijo para su control a 
									b la posta de Maras 
									| (distrito Maras, provincia Urubamba, Cusco). El maltrato no se hizo esperar ni un minuto. 
								p.txt-his
									| ¿Cuántos hijos tienes?, le preguntaron 
									b las enfermeras Blanquita y Doris. 
									| Tengo cinco. “Ya no vas a tener más hijos, la educación cuesta mucho, no estamos en tiempos de que ustedes tengan más hijos, vas a hacerte ligar”.
								p.txt-his
									| Maximiliana fue muy clara, les dijo con firmeza que no quería que la esterilizaran. Pero de nada sirvió.
								p.txt-his
									| “De cualquier forma, por cualquier lado quería escaparme, 
									b al mismo tiempo cerraron la puerta, nos han agarrado duro, ya no podía escaparme. 
									| Nos han encerrado en otra sala”.
								p.txt-his
									| Luego la subieron a una ambulancia empujándola, junto a varias señoras. En el trayecto del camino una enfermera le dijo que ellas no ligaban, que eso lo hacía 
									b personal del 
									a(target="_blank",href='http://larepublica.pe/impresa/en-portada/711276-medicos-testifican-que-la-esterilizacion-masiva-fue-politica-de-gobierno-de-fujimori')  MINSA
									b  de Urubamba, 
									| a dónde se dirigían.
								p.txt-his
									| En la sala de operación los doctores le dijeron que la 
									b ligarían para siempre, por tener tantos hijos.
								p.txt-his
									|“Me han hecho mirar hacia arriba, me han hecho contar una numeración, 
									b me han amarrado mi manos, mis pies también me han amarrado”.
								p.txt-his
									| Maximiliana Quillahuaman quería tener dos hijos más, quería ser una mujer sana, pero 
									a(target="_blank",href='http://larepublica.pe/impresa/politica/774927-nunca-me-dieron-el-dinero-prometido-y-quede-malograda-para-siempre') le malograron la vida,
									|   como ella misma relata. 


					.col-lg-3.col-md-3.col-sm-12.fichat
							img(src="images/maximilianaquillahuaman-fichas.jpg" )
							br
							div
								ul
									li 
										b Víctima: 
										| Maximiliana Quillahuaman Quispe
									li 
										b Grado de instrucción: 
										|primero de primaria
									li 
										b Fecha del hecho: 
										|1998
									li 
										b Modus Operandi:  
										|Hostigamiento 
									li 
										b Edad de la ligadura: 
										|25
									li 
										b Vivía en: 
										| Comunidad de Mahuaypampa, distrito Maras, provincia Urubamba.
									li 
										b Responsables de la captación: 
										|Posta de Salud de Maras
									li 
										b Responsables de la ligadura: 
										| MINSA de Urubamba  

		include base/jalador.pug	

		footer
			include base/footer.pug

		include base/script.pug