
html
	head
		title Secuelas Perpetuas | Testimonios desde Ucayali | Esterilizaciones Forzadas | ligaduras de trompas | Virginia Vásquez Mejías | víctimas shipibas | casos mujeres esterilizadas | Gobierno fujimorista | LaRepublica.pe

		meta(property="og:description",content='Mujeres shipibas de Ucayali fueron esterilizadas bajo engaños o ligadas al dar a luz.')
		meta(property="og:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/nildarojas")
		meta(property="og:title",content="Nilda Rojas Martínez: “Yo iba por cesárea, pero me ligaron” ")
		meta(property="og:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/nildarojas.jpg")
		
		meta(name="twitter:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/nildarojas")
		meta(name="twitter:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/nildarojas.jpg")
		meta(name="twitter:title",content="Nilda Rojas Martínez: “Yo iba por cesárea, pero me ligaron” ")
		meta(name="twitter:description",content='Mujeres shipibas de Ucayali fueron esterilizadas bajo engaños o ligadas al dar a luz.')
		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		.menu
			include base/menu.pug
		div.pd-105
		include mixin/relacionados-shipibas.pug

		.casos-shipibas.container-fluid
			.container
				h2 Nilda Rojas Martínez: “Yo iba por cesárea, pero me ligaron”
				.row
					.col-lg-9.col-md-9.col-sm-12
						iframe(width="100%", src="https://www.youtube.com/embed/v0ks4bbRK0o?&amp;autoplay=1&amp;showinfo=0&fs=1&rel=0;",frameborder="0", allowfullscreen="true")
						br
						.traduccion
							.row
								.col-lg-8.col-md-6.col-sm-6.col-xs-12
									br
									h4 LEALO EN 
										span#botones
											input(type="button",onclick="javascript:cambia_español4();",value="Español")
											input(type="button",onclick="javascript:cambia_shipibo4();",value="Shipibo")
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									.btn-redes
										.share-buttons-square
											span.fb
												.fb-share-button(data-href='http://larepublica.pe/data/esterilizaciones-forzadas/nildarojas', data-layout='button', data-mobile-iframe='true')
													a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse') Compartir 
											span.twiter
												a.twitter-share-button(href='https://twitter.com/share', data-text='Secuelas Perpetuas | Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas', data-via='larepublica_pe', data-size='default', data-hashtags='EsterilizacionesForzadas')
												script.
													!function(d, s, id) {
													var js,
													fjs = d.getElementsByTagName(s)[0],
													p = /^http:/.test(d.location)
													? 'http'
													: 'https';
													if (!d.getElementById(id)) {
													js = d.createElement(s);
													js.id = id;
													js.src = p + '://platform.twitter.com/widgets.js';
													fjs.parentNode.insertBefore(js, fjs);
													}
													}(document, 'script', 'twitter-wjs');
							#capa-4
								br
								p.txt-his
									| Cada vez que Nilda Rojas Martínez se acuerda como se aprovecharon de ella no puede parar de llorar. Cada vez que recuerda como 
									b el mismo día que falleció su recién nacido 
									|  las enfermeras le decían:  
									b   “si pues, te hemos ligado”, 
									|  llora con desconsuelo. 
								p.txt-his
									| La shipiba Nilda Rojas 
									b tenía ocho meses de embarazo, 
									| se sentía con la presión alta y dolor de cabeza. Fue al Hospital Amazónico, ubicado en la ciudad de Pucallpa, porque sentía que era el momento de dar a luz.
								p.txt-his
									| Antes de entrar a la sala de operación le hicieron firmar un papel. Ella pensó que estaba firmando para que le hagan la cesárea. Se sentía tan mal que firmó rápido y sin preguntar, 
									b nunca supo qué fue lo que firmó.
								p.txt-his
									| “Yo no pensé que me iban a hacer la ligadura, solamente cesárea, yo no dije que me hagan 
									a(target="_blank",href='http://larepublica.pe/impresa/politica/762163-me-ofrecieron-30-dolares-por-cada-mujer-esterilizada') ligadura
									| ”.
								p.txt-his
									| “Al día siguiente de la operación falleció mi niño, se lo entregaron a mi mamá. Mi papá preparó un pequeño ataúd...Nunca pude ver su rostro porque tenía que permanecer en el hospital”.
								p.txt-his
									| “
									a(target="_blank",href='http://larepublica.pe/impresa/en-portada/746438-bajo-amenaza-nos-hicieron-participar-en-las-esterilizaciones-de-mujeres') La enfermera
									|   me dijo que me habían hecho también la ligadura, y me sentí mal, 
									b yo no estaba de acuerdo
									| ”.
								p.txt-his
									| Nilda Rojas quería tener más hijos varones. Solo tenía un niño y el bebé que falleció, pero 
									b la cortaron en silencio.

								p.txt-his
									| “El hospital nunca me entregó ningún documento del fallecimiento de mi hijo, ni tampoco ningún papel de la ligadura”. Efectivamente, La República consiguió su historia clínica y no hay autorización para la esterilización. 
									a(target="_blank",href='http://larepublica.pe/impresa/politica/820941-identifican-46-victimas-de-las-esterilizaciones-forzadas-en-la-libertad')  Fue contra su voluntad
									| .


					.col-lg-3.col-md-3.col-sm-12.fichat
							img(src="images/nildarojas-fichas.jpg")
							div
								ul
									li 
										b Víctima:
										|Nilda Rojas Martínez 
									li 
										b Grado de instrucción: 
										|quinto de primaria  
									li 
										b Fecha del hecho: 
										|1999
									li 
										b Modus Operandi:  
										|Engaño
									li 
										b Edad de la ligadura: 
										|37
									li 
										b Vivía en: 
										|Comunidad Teodoro Vinder 1, distrito Yarinacocha, provincia Coronel Portillo.
									li 
										b Responsables de la ligadura: 
										| Hospital Amazónico (ciudad de Pucallpa) 
								
		include base/jalador.pug	
		footer
			include base/footer.pug

		include base/script.pug