
html
	head
		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		.menu
			include base/menu.pug

		include mixin/relacionados-cusco.pug


		.casos-shipibas.container-fluid
			.container
				h2 Benedicta Nina Mamani : “No me han explicado de mi corte, no sabía porque tenía eso en mi cuerpo”


				.row
					.col-lg-8.col-md-8.col-sm-8
						iframe(width="100%",height="50%",src="https://www.youtube.com/embed/gQ5R3E0wlq4?rel=0&amp;showinfo=0?rel=0&autoplay=1",frameborder="0",allowfullscreen="")
					.col-lg-4.col-md-4.col-sm-4.fichat
						img(src="images/ninamamani-fichas.jpg" width="60%" alt="")
						ul
							li 
								b Víctima: 
								| Benedicta Nina Mamani 
							li 
								b Grado de instrucción: 
								|segundo de primaria
							li 
								b Fecha del hecho: 
								|1997
							li 
								b Modus Operandi:  
								|Engaño
							li 
								b Edad de la ligadura: 
								|24
							li 
								b Vivía en: 
								|Comunidad Pumapaccha, distrito Colquepata, provincia Paucartambo.
							li 
								b Responsables de la captación:
								| Posta de Viscochone
							li 
								b Responsables de la ligadura: 
								| Posta de Colquepata
				.row.traduccion
					.col-lg-8
						h4 LEALO EN 
							span#botones
								input(type="button",onclick="javascript:cambia_españolc1();",value="Español")
								input(type="button",onclick="javascript:cambia_quechuac1();",value="Quechua")
						#capa-c1
							p Tenía 24 años cuando mediante engaños la ligaron. La obligaron a poner su huella en un papel sin decirle para qué era. En la sala de operación no se detuvieron cuando Benedicta Nina Mamani forcejeaba porque quería bajarse de la camilla. 
							p Le dijeron que vaya a la posta de Viscochone (distrito Colquepata, provincia Paucartambo, región Cusco) porque había vacunas para su niño. Luego la trasladaron a la posta de Colquepata con el mismo cuento, no sin antes decirle las enfermeras: “ustedes están pariendo como cuy, como chivos”. 
							p Inocente, Benedicta no sospechó las verdaderas intenciones de sus verdugos. 
							p “Vi que una señora salía en camilla inconsciente de una sala, me asusté. ¿Qué cosa están haciendo acá adentro? Intenté escaparme, le di mi wawa a una señora que estaba a mi costado, pero las enfermeras me han visto queriendo irme y no me han dejado”.   
							p Benedicta estaba asustada, más aún cuando le dijeron que no había vacunas. Pero no sospechaba de una ligadura, ni siquiera sabía lo que era una ligadura. A la fuerza la hicieron pasar a una sala.  
							p “Cuando me querían poner la anestesia yo no quería, estaba pataleando. Escuchaba a mi wawa que estaba llorando, les decía no no, siempre dije no no. Me pusieron la anestesia y cuando reaccioné no sabía lo que me habían hecho”.
							p Nadie le decía nada luego de la ligadura, ella se preguntaba por qué tenía un corte en la barriga, qué le habían hecho. Silencio e indiferencia por varias horas. Finalmente la enfermera Petronila de Viscochone, que estaba en ese recinto le dijo: “Te hemos hecho la ligadura para que nunca más sufras y nunca más tengas hijos”. 
			

								

		footer
			include base/footer.pug

		include base/script.pug