
html
	head
		title Secuelas Perpetuas | Testimonios desde Cusco | Esterilizaciones Forzadas | ligaduras de trompas | Mujeres shipibas y quechuas | víctimas shipibas | casos mujeres esterilizadas | Gobierno fujimorista | LaRepublica.pe
		meta(property="og:description",content='Mujeres cusqueñas fueron esterilizadas contra su voluntad en las postas de sus comunidades, así como en los más grandes hospitales de la ciudad.')
		meta(property="og:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/victoriaccoya")
		meta(property="og:title",content="Victoria Ccoya Quispe: “Me ligaron porque el Gobierno ha ordenado no tener más de tres hijos”")
		meta(property="og:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/victoriaccoya.jpg")
		
		meta(property="og:video",content="https://www.youtube.com/watch?v=S6xzDYC2qoo")
		meta(name="twitter:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/victoriaccoya")
		meta(name="twitter:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/victoriaccoya.jpg")
		meta(name="twitter:title",content="Victoria Ccoya Quispe: “Me ligaron porque el Gobierno ha ordenado no tener más de tres hijos” ")
		meta(name="twitter:description",content='Mujeres cusqueñas fueron esterilizadas contra su voluntad en las postas de sus comunidades, así como en los más grandes hospitales de la ciudad.')

		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		.menu
			include base/menu.pug
		div.pd-105
		include mixin/relacionados-cusco.pug


		.casos-shipibas.container-fluid
			.container
				h2 Victoria Ccoya Quispe: “Me ligaron porque el Gobierno ha ordenado no tener más de tres hijos”
				.row
					.col-lg-9.col-md-9.col-sm-12
						iframe(width="100%", src="https://www.youtube.com/embed/S6xzDYC2qoo?&amp;autoplay=1&amp;showinfo=0&fs=1&rel=0;",frameborder="0", allowfullscreen="true")

						br
						.traduccion
							.row
								.col-lg-8.col-md-6.col-sm-6.col-xs-12
									h4 LEALO EN 
										span#botones
											input(type="button",onclick="javascript:cambia_españolc6();",value="Español")
											input(type="button",onclick="javascript:cambia_quechuac6();",value="Quechua")
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									.btn-redes
										.share-buttons-square
											span.fb
												.fb-share-button(data-href='http://larepublica.pe/data/esterilizaciones-forzadas/victoriaccoya', data-layout='button', data-mobile-iframe='true')
													a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse') Compartir 
											span.twiter
												a.twitter-share-button(href='https://twitter.com/share', data-text='Secuelas Perpetuas | Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas', data-via='larepublica_pe', data-size='default', data-hashtags='EsterilizacionesForzadas')
												script.
													!function(d, s, id) {
													var js,
													fjs = d.getElementsByTagName(s)[0],
													p = /^http:/.test(d.location)
													? 'http'
													: 'https';
													if (!d.getElementById(id)) {
													js = d.createElement(s);
													js.id = id;
													js.src = p + '://platform.twitter.com/widgets.js';
													fjs.parentNode.insertBefore(js, fjs);
													}
													}(document, 'script', 'twitter-wjs');

							#capa-c6
								br
								p.txt-his
									| Victoria Ccoya Quispe 
									b es analfabeta, 
									| ella cree que por eso la han elegido para esterilizarla contra su voluntad. 

								p.txt-his
									| “Fueron a mi casa varias veces del 
									b Centro de Salud de Huancarani 
									| (distrito Huancarani, provincia Paucartambo, Cusco) para obligarme a que me haga la ligadura, porque 
									a(target="_blank",href='http://larepublica.pe/impresa/politica/762163-me-ofrecieron-30-dolares-por-cada-mujer-esterilizada') el Gobierno
									|  dice que no debemos tener más de tres hijos”.
								p.txt-his
									|Victoria Ccoya se cuidaba de forma natural, para ella eso era lo correcto, su método le funcionaba y solo tenía hijos cuando ella quería. Las enfermeras que iban a hostigarla a su casa le dijeron que su método no era adecuado, que tenía que cuidarse con la ligadura porque eso era lo mejor. 
									b Nunca le hablaron de otras formas para planificar.
								p.txt-his
									| “Me dijeron que no sentiría dolor, que todo estaría bien, 
									b yo les dije que no, pero siempre me obligaban. 
									|  Tuve que bajar a la posta…
									b Del Centro de Salud me llevaron en carro particular al Hospital Regional del Cusco, 
									| ahí nos han hecho llegar”.
								p.txt-his
									|“Me llevaron a la cama, 
									b me cambiaron de ropa, yo no quería, 
									| no quería, me anestesiaron y ya no me di cuenta de nada”.
								p.txt-his
									| Luego de esterilizarla contra su voluntad, le entregaron una 
									b tarjeta que indica un convenio entre el Ministerio de Salud 
									|(MINSA) y el Fondo de Cooperación para el Desarrollo Social (FONCONDES). 
									b Una tarjeta que ella no podía entender, pues es analfabeta. 
								p.txt-his
									|En la tarjeta se lee que a Victoria Ccoya la captaron en Enero de 1996 como parte del 
									b programa PLANIHUAN, 
									| un programa de reforzamiento del 
									a(target="_blank",href='http://larepublica.pe/politica/746977-keiko-fujimori-ofrece-reparar-victimas-de-esterilizaciones-forzadas-si-hay-alguna') Programa de Planificación Familiar
									|  realizado en el distrito de Huancarani.
								br
								img(id="lucia1", src="images/doc8.jpg" width="100%" alt="")
								br
								br
								p.txt-his
									| Dice el reverso del documento: “Al presentar esta tarjeta, el usuario no realizará ningún pago por la primera atención en el Centro de Salud Huancarani, en el Programa de Planificación Familiar”. 
									b Firman la tarjeta 
									|el Presidente del Núcleo Ejecutor PLANIHUAN, 
									b Tomás Condori, 
									| el Inspector del Convenio FONCODES, doctor 
									b Félix Hidalgo Ramírez, 
									|y el Jefe en el año 1996 del Centro de Salud de Huancarani, doctor 
									b Carlos Zea Núñez. 
								br
								img(id="lucia1", src="images/doc9.jpg" width="100%" alt="")
								br
								br
								p.txt-his
									a(target="_blank",href='http://larepublica.pe/impresa/politica/787369-es-necesaria-la-colaboracion-eficaz-de-medicos-en-crimen-de-esterilizacion') El doctor
									|  Felix Hidalgo dijo a La República que PLANIHUAN fue un proyecto creado por un grupo de profesionales del distrito de Huancarani, y que nunca hubo quejas por parte de las mujeres captadas para las ligaduras.
								p.txt-his
									| “El proyecto fue creado por un grupo de profesionales que trabajaban en la zona, debido a que 
									b las coberturas de planificación familiar eran bajas y se necesitaba reforzar al establecimiento de salud (Centro de Salud Huancarani)...
									| Los casos para ligadura eran derivados a la ciudad del Cusco, al Hospital Regional”.
								p.txt-his
									| “Durante el tiempo que participe como inspector en la supervisión de las actividades del programa, nunca observé ni escuché ninguna queja por parte de las usuarias ni de sus familias”.
								p.txt-his
									| La República también visitó al doctor Carlos Zea Núñez, jefe en 1996 del Centro de Salud Huancarani.
								p.txt-his
									b El doctor no recuerda que es PLANIHUAN, 
									| no recuerda esa tarjeta, dice no saber nada de lo que le estamos hablando y mostrando.
								p.txt-his
									b “Yo quería tener más hijos”, 
									| relata acongojada Victoria Ccoya.



							
					.col-lg-3.col-md-3.col-sm-12.fichat
						img(src="images/victoriaccoya-fichas.jpg")
						br
						div
							ul
								li 
									b Víctima: 
									| Victoria Ccoya Quispe
								li 
									b Grado de instrucción: 
									|iletrado/sin instrucción 
								li 
									b Fecha del hecho: 
									|1996
								li 
									b Modus Operandi:  
									|Hostigamiento 
								li 
									b Edad de la ligadura: 
									|34
								li 
									b Vivía en: 
									| Comunidad Piscohuata, distrito Huancarani, provincia Paucartambo.
								li 
									b Responsables de la captación: 
									|Centro de Salud Huancarani 
								li 
									b Responsables de la ligadura: 
									| Hospital Regional de Cusco

		include base/jalador.pug	

		footer
			include base/footer.pug

		include base/script.pug