
html
	head
		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		.menu
			include base/menu.pug
		div.pd-105
		include mixin/relacionados-cusco.pug


		.casos-shipibas.container-fluid
			.container
				h2 Victoria Ccoya Quispe :  “Me obligaron a ligarme porque el Gobierno ha ordenado no tener más de tres hijos” 

				.row
					.col-lg-9.col-md-9.col-sm-12
						iframe(width="100%",height="50%",src="https://www.youtube.com/embed/3J4aVL8bhnY?&autoplay=1&showinfo=0&fs=0&rel=0;",frameborder="0",allowfullscreen="")
						.traduccion
							br
							h4 LEALO EN 
								span#botones
									input(type="button",onclick="javascript:cambia_españolc6();",value="Español")
									input(type="button",onclick="javascript:cambia_quechuac6();",value="Quechua")
							#capa-c6
								p Victoria Ccoya Quispe es analfabeta, ella cree que por eso ha sido una candidata perfecta para esterilizarla contra su voluntad. 
								p “Fueron a mi casa varias veces del Centro de Salud de Huancarani (distrito Huancarani, provincia Paucartambo, región Cusco) para obligarme a que me haga la ligadura, porque el Gobierno dice que no debemos tener más de tres hijos”. 
								p Victoria se cuidaba de forma natural, para ella eso era lo correcto, su método le funcionaba y solo tenía hijos cuando ella quería. Las enfermeras que iban a hostigarla a su casa le dijeron que su método no era adecuado, que tenía que cuidarse con la ligadura porque eso era lo mejor. Nunca le hablaron de otras formas para planificar. 
								p “Me dijeron que no sentiría dolor, que todo estaría bien, yo les dije que no, pero siempre me obligaban , tuve que bajar a la posta…Del Centro de Salud me llevaron en carro particular al Hospital Regional del Cusco, ahí nos han hecho llegar”. 
								p “Me llevaron a la cama, me cambiaron de ropa, yo no quería, no quería, me anestesiaron y ya no me di cuenta de nada”.
								p Luego de la ligadura le entregaron  una tarjeta que indica un convenio entre el Ministerio de Salud (MINSA) y el Fondo de Cooperación para el Desarrollo Social (FONCONDES). Una tarjeta que ella no podía entender, pues es analfabeta.
								p En la tarjeta se lee que a la señora Victoria Ccoya la CAPTARON en Enero de 1996 como parte del programa PLANIHUAN, un programa de reforzamiento del Programa de Planificación Familiar realizada en el pequeño distrito de Huancarani. 
								br
								img(id="lucia1", src="images/doc8.jpg" width="100%" alt="")
								br
								p Dice el reverso del documento: “Al presentar esta tarjeta, el usuario no realizará ningún pago por la primera atención en el Centro de Salud Huancarani, en el Programa de Planificación Familiar”. Entre los que firman la tarjeta se encuentran el Presidente del Núcleo Ejecutor PLANIHUAN, señor Tomás Condori, el Inspector del Convenio FONCODES,  doctor Félix Hidalgo Ramírez, y el Jefe en el año 1996 del Centro de Salud de Huancarani, doctor Carlos Zea Núñez.
								br
								img(id="lucia1", src="images/doc9.jpg" width="100%" alt="")
								br
								p El doctor Felix Hidalgo Ramírez dijo a La República que PLANIHUAN fue un proyecto creado por un grupo de profesionales del distrito de Huancarani, y que nunca hubo quejas por parte de las mujeres captadas para las ligaduras.
								p “El proyecto fue creado por un grupo de profesionales que trabajaban en la zona, debido a que las coberturas de planificación familiar eran bajas y se necesitaba reforzar al establecimiento de salud (Centro de Salud Huancarani)...Los casos para ligadura eran derivados a la ciudad del Cusco, al Hospital Regional”. 
								p “Durante el tiempo que participe como inspector en la supervisión de las actividades del programa,  nunca observé ni escuché ninguna queja por parte de las usuarias ni de sus familias”. 
								p Así mismo, La República visitó al doctor Carlos Zea Núñez, jefe en 1996 del Centro de Salud Huancarani. 
								p Para nuestra sorpresa, el doctor no recuerda que es PLANIHUAN, no recuerda esa tarjeta (en la que sale su firma), dice no saber nada de lo que le estamos hablando y mostrando. 
								p “Yo quería tener más hijos”, relata acongojada la señora Victoria Ccoya.

							
					.col-lg-3.col-md-3.col-sm-12.fichat
						img(src="images/victoriaccoya-fichas.jpg")
						div
							ul
								li 
									b Víctima: 
									| Maximiliana Quillahuaman Quispe
								li 
									b Grado de instrucción: 
									|iletrado/sin instrucción
								li 
									b Fecha del hecho: 
									|1996
								li 
									b Modus Operandi:  
									|Hostigamiento 
								li 
									b Edad de la ligadura: 
									|34
								li 
									b Vivía en: 
									| Comunidad Piscohuata, distrito Huancarani, provincia Paucartambo.
								li 
									b Responsables de la captación: 
									|Centro de Salud Huancarani 
								li 
									b Responsables de la ligadura: 
									| Hospital Regional de Cusco

		include base/jalador.pug	

		footer
			include base/footer.pug

		include base/script.pug