
html
	head
		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		.menu
			include base/menu.pug
		div.pd-105
		include mixin/relacionados-shipibas.pug	

		.casos-shipibas.container-fluid
			.container
				h2 Virginia Vásquez Mejías : “Después de ducharnos nos pusieron en fila...pensé que iba a morir allí”
				.row
					.col-lg-9.col-md-9.col-sm-9
						iframe(width="100%",height="50%",src="https://www.youtube.com/embed/8vFzzWXgFVA?&autoplay=1&showinfo=0&fs=0&rel=0;",frameborder="0",allowfullscreen="")
					.col-lg-3.col-md-3.col-sm-3.fichat
						.thumbnail(href='#')
							img(src="images/virginiavasquez-fichas.jpg" )
							.caption.caption-casos
								ul
									li 
										b Víctima:
										|Virginia Vásquez Mejías 
									li 
										b Grado de instrucción: 
										|tercero de primaria 
									li 
										b Fecha del hecho: 
										|1996 
									li 
										b Modus Operandi:  
										|Engaño, Violencia 
									li 
										b Edad de la ligadura: 
										|36
									li 
										b Vivía en: 
										|Comunidad de Caimito, distrito Masisea, provincia Coronel Portillo.
									li 
										b Responsables de la ligadura: 
										|Posta de Caimito
									li 
										b Responsables de la ligadura: 
										|Centro de Salud Masisea 
				.row.traduccion
					.col-lg-9
						h4 LEALO EN 
							span#botones
								input(type="button",onclick="javascript:cambia_español5();",value="Español")
								input(type="button",onclick="javascript:cambia_shipibo5();",value="Shipibo")
						#capa-5
							p Era un día más para la shipiba Virginia Vásquez Mejías, un día común en su tranquila comunidad de Caimito (distrito Masisea, provincia Coronel Portillo, región Pucallpa). Estaba conversando con su esposo cuando tocaron a su puerta trabajadores del Centro de Salud Masisea. Les dijeron sonrientemente que Virginia debía acompañarlos al centro para consulta médica y recibir medicinas.   
							p En el centro le explicaron a Virginia y a su grupo de cinco señoras que debían bañarse antes de pasar a consulta. 
							p “De mi lista de cinco señoras se escapó una. Después de ducharnos nos pusieron en fila a las cuatro que quedábamos de mi lista  y nos dijeron para ponernos batas. ¿Y para qué nos van a poner batas?, dije”. 
							p Esperando su turno para ingresar a una sala (sala de operación) recién se enteró que le harían un corte en la barriga para no tener más hijos. Sudó frío, no sabía por dónde escaparse, el lugar estaba rodeado de doctores y enfermeras.  
							p “Llamaron a una, a ella primero le han hecho, y de allí a otra. Otra también. Y yo he sido la última. Vi que todas estaban como muertas, pálidas. Quería escapar pero no sabía cómo”
							p “Me pusieron una inyección parada (anestesia), me echaron a la camilla, yo decía que no quería, me resistí como tres veces. Me jalaron los brazos para que me echara, no quería eso para mí”.  
							p Después de esterilizarla a la fuerza, cuando Virginia retornó a su comunidad de Caimito, buscó al técnico enfermero Rodrigo Tananta, trabajador de la posta de Caimito y el cual fue testigo de la esterilización forzada en el Centro de Salud Masisea. Ella le reclamó y él le respondió “Eso les hicieron a ustedes en reemplazo de las que se habían escapado”. 




		include base/jalador.pug		

		footer
			include base/footer.pug

		include base/script.pug