
html
	head
		title Secuelas Perpetuas | Testimonios desde Ucayali | Esterilizaciones Forzadas | ligaduras de trompas | Virginia Vásquez Mejías | víctimas shipibas | casos mujeres esterilizadas | Gobierno fujimorista | LaRepublica.pe

		meta(property="og:description",content='Mujeres shipibas de Ucayali fueron esterilizadas bajo engaños o ligadas al dar a luz.')
		meta(property="og:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/virginiavasquez")
		meta(property="og:title",content=" Virginia Vásquez Mejías: “Después de ducharnos nos pusieron en fila...pensé que iba a morir ahí” ")
		meta(property="og:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/virginiavasquez.jpg")
		
		
		meta(name="twitter:url",content="http://larepublica.pe/data/esterilizaciones-forzadas/virginiavasquez")
		meta(name="twitter:image",content="http://larepublica.pe/data/esterilizaciones-forzadas/images/virginiavasquez.jpg")
		meta(name="twitter:title",content="Virginia Vásquez Mejías: “Después de ducharnos nos pusieron en fila...pensé que iba a morir ahí” ")
		meta(name="twitter:description",content='Mujeres shipibas de Ucayali fueron esterilizadas bajo engaños o ligadas al dar a luz.')
			
		include base/head.pug
	body
		div#fb-root
		script.
			(function(d, s, id) {
			  var js, fjs = d.getElementsByTagName(s)[0];
			  if (d.getElementById(id)) return;
			  js = d.createElement(s); js.id = id;
			  js.src = "//connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v2.8";
			  fjs.parentNode.insertBefore(js, fjs);
			}(document, 'script', 'facebook-jssdk'));

		.menu
			include base/menu.pug
		div.pd-105
		include mixin/relacionados-shipibas.pug	

		.casos-shipibas.container-fluid
			.container
				h2 Virginia Vásquez Mejías: “Después de ducharnos nos pusieron en fila...pensé que iba a morir ahí” 
				.row
					.col-lg-9.col-md-9.col-sm-12
						iframe(width="100%", src="https://www.youtube.com/embed/f8Jn1N8zhOo?&amp;autoplay=1&amp;showinfo=0&fs=1&rel=0;",frameborder="0", allowfullscreen="true")
						br
						.traduccion
							.row
								.col-lg-8.col-md-6.col-sm-6.col-xs-12
									h4 LEALO EN 
										span#botones
												input.button.active(type="button",onclick="javascript:cambia_español5();",value="Español")
												input.button(type="button",onclick="javascript:cambia_shipibo5();",value="Shipibo")
								.col-lg-4.col-md-6.col-sm-6.col-xs-12
									.btn-redes
										.share-buttons-square
											span.fb
												.fb-share-button(data-href='http://larepublica.pe/data/esterilizaciones-forzadas/virginiavasquez', data-layout='button', data-mobile-iframe='true')
													a.fb-xfbml-parse-ignore(target='_blank', href='https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse') Compartir 
											span.twiter
												a.twitter-share-button(href='https://twitter.com/share', data-text='Secuelas Perpetuas | Mujeres shipibas y quechuas que sufrieron el impune crimen de las esterilizaciones forzadas', data-via='larepublica_pe', data-size='default', data-hashtags='EsterilizacionesForzadas')
												script.
													!function(d, s, id) {
													var js,
													fjs = d.getElementsByTagName(s)[0],
													p = /^http:/.test(d.location)
													? 'http'
													: 'https';
													if (!d.getElementById(id)) {
													js = d.createElement(s);
													js.id = id;
													js.src = p + '://platform.twitter.com/widgets.js';
													fjs.parentNode.insertBefore(js, fjs);
													}
													}(document, 'script', 'twitter-wjs');

							#capa-5
								br
								p.txt-his
									| Era un día más para la shipiba Virginia Vásquez Mejías, un día común en su tranquila comunidad de Caimito (distrito Masisea, provincia Coronel Portillo, Ucayali). Estaba conversando con su esposo cuando 
									a(target="_blank",href='http://larepublica.pe/impresa/en-portada/712791-captacion-de-mujeres-para-campanas-de-esterilizacion-masiva-fue-casa-por-casa')  tocaron a su puerta
									|   trabajadores del 
									b  Centro de Salud Masisea.
									|  Les dijeron, con una sonrisa, que Virginia debía acompañarlos al centro para hacerse una consulta médica y recibir medicinas.
								p.txt-his
									| En el centro de salud le explicaron a ella y a su grupo de cinco señoras que 
									b debían bañarse antes de pasar a consulta.
								p.txt-his
									|  “
									b De mi lista de cinco señoras se escapó una...
									| Después de ducharnos nos pusieron en fila a las cuatro y nos dijeron para ponernos batas. ¿Y para qué nos van a poner batas?, les dije”.
								p.txt-his
									| Esperando su turno para ingresar a una sala (sala de operación), recién se enteró que le harían un corte en la barriga para no tener más hijos. Sudó frío, 
									a(target="_blank",href='http://larepublica.pe/impresa/politica/712306-caso-de-esterilizaciones-forzadas-en-peru-el-mas-grave-de-america-latina') no sabía por dónde escaparse,
									|  el lugar estaba rodeado de doctores y enfermeras.
								p.txt-his
									| “Llamaron a una, a ella primero le han hecho, y de allí a otra. Otra también. Y yo he sido la última. 
									b Vi que todas estaban como muertas, pálidas. 
									| Quería escapar pero no sabía cómo”. 
								p.txt-his
									| “Me pusieron una inyección parada (anestesia), me echaron en la camilla, yo decía que no quería, me resistí como tres veces. 
									a(target="_blank",href='http://larepublica.pe/impresa/en-portada/745992-me-ataron-las-munecas-en-la-camilla-para-esterilizarme-la-fuerza')  Me jalaron los brazos
									|   para que me echara, no quería eso para mí”.
								p.txt-his
									|Cuando Virginia Vásquez retornó a su comunidad de Caimito, buscó a Rodrigo Tananta, enfermero de la posta de Caimito y el cual fue testigo de su ligadura en el Centro de Salud Masisea. Ella le reclamó y él le respondió: 
									b  “Eso les hicieron a ustedes en reemplazo de las que se habían escapado”.

							

					.col-lg-3.col-md-3.col-sm-12.fichat
							img(src="images/virginiavasquez-fichas.jpg" )
							div.fichas
								ul
									li 
										b Víctima:
										|Virginia Vásquez Mejías 
									li 
										b Grado de instrucción: 
										|tercero de primaria 
									li 
										b Fecha del hecho: 
										|1996 
									li 
										b Modus Operandi:  
										|Engaño, Violencia 
									li 
										b Edad de la ligadura: 
										|36
									li 
										b Vivía en: 
										|Comunidad de Caimito, distrito Masisea, provincia Coronel Portillo.
									li 
										b Responsables de la ligadura: 
										|Posta de Salud de Caimito
									li 
										b Responsables de la ligadura: 
										|Centro de Salud Masisea 
				.row.traduccion
					.col-lg-9





		include base/jalador.pug		

		footer
			include base/footer.pug

		include base/script.pug