
.container.display-responsive
	.row
		.col-md-12
			#media.carousel.slide.media-carousel
				.carousel-inner
					.item.active
						.row
							.col-md-3.col-sm-3.col-xs-3
								a.thumbnail(href='virginiavasquez.html')
									img(src='images/virginiavasquez-link.jpg')
							.col-md-3.col-sm-3.col-xs-3
								a.thumbnail(href='julianalomas.html')
									img(src='images/julianalomas-link.jpg')
							.col-md-3.col-sm-3.col-xs-3
								a.thumbnail(href='lidiarodriguez.html')
									img(src='images/lidiarodriguez-link.jpg')
							.col-md-3.col-sm-3.col-xs-3
								a.thumbnail(href='nildarojas.html')
									img(src='images/nildarojas-link.jpg')

					.item
						.row
							.col-md-3.col-sm-3.col-xs-3
								a.thumbnail(href='luciazumaeta.html')
									img(src='images/luciazumaeta-link.jpg')
							.col-md-3.col-sm-3.col-xs-3
								a.thumbnail(href='dinapangoa.html')
									img(src='images/dinapangoa-link.jpg')

				a.left.carousel-control(data-slide='prev', href='#media') ‹
				a.right.carousel-control(data-slide='next', href='#media') ›
