
.container.display-responsive
	.row
		.col-md-12
			#media.carousel.slide.media-carousel
				.carousel-inner
					.item.active
						.row
							.col-md-3.col-sm-3.col-xs-3
								a.thumbnail(href='martinacamala.html')
									img(src='images/martinacamala-link.jpg')
							.col-md-3.col-sm-3.col-xs-3
								a.thumbnail(href='ernestinamamani.html')
									img(src='images/ernestinamamani-link.jpg')
							.col-md-3.col-sm-3.col-xs-3
								a.thumbnail(href='damianahuallpayunca.html')
									img(src='images/damianahuallpayunca-link.jpg')
							.col-md-3.col-sm-3.col-xs-3
								a.thumbnail(href='victoriaccoya.html')
									img(src='images/victoriaccoya-link.jpg')

					.item
						.row
							.col-md-3.col-sm-3.col-xs-3
								a.thumbnail(href='maximilianaquillhuaman.html')
									img(src='images/maximilianaquillahuaman-link.jpg')
							.col-md-3.col-sm-3.col-xs-3
								a.thumbnail(href='ninamamani.html')
									img(src='images/ninamamani-link.jpg')

				a.left.carousel-control(data-slide='prev', href='#media') ‹
				a.right.carousel-control(data-slide='next', href='#media') ›


