.txt-intro-shipibas {
	text-align: center;
    padding: 1%;
    font-size: 15px;
}
.intro-shipibas {
	    padding-top: 105px;
}

.row.a {
	
	/*display: flex;
    flex-wrap: wrap;*/
    /*height: calc(41.50% - 150px);*/
}
