@import "./variables.scss";

.mg-0{
	margin: 0px !important;
}

.mv-21{
	margin-top: 21px;
	margin-bottom: 21px;
}

.pd-0{
	padding: 0px !important;
}
.mt-21{
	margin-top:21px;
}
.mb-35{
  margin-bottom: 35px;
}

.mb-49 {
  margin-bottom: 49px;
}

.mr-6{
	margin-right:6px !important;
}

.mv-49{
	margin: 49px 0;
}
.mt-35{
	margin-top: 35px !important;
}
.mt-60{
  margin-top: 60px !important;
}
.v-center {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}

.mt-81{
  margin-top: 81px;
}

.mt-91{
  margin-top: 91px;
}
.mt-4{
  margin-top: 4%;
}

.container-intro {
    width: 900px;
}

.txt-his {
  b{
    font-weight: 900;
  }
  a {
    font-weight: 900;
    color: #000000;
    :hover{
      color: #000000;
    }
    :focus{
      color: #000000;
    }
  }
}

.pd-105{
  
padding-top: 105px;
}